[2016-10-11 12:57] pradeep-chauhan opened #1 "An SSL error has occured and a secure connection to the server cannot be made."
Payment is not capturing for SBI bank. i have sent mail with details.

[2016-10-12 10:53] akshaybhalotia commented on #1
Thanks for reporting this. We will get back to you over email.

[2016-10-14 08:54] #1 closed

[2017-08-23 15:53] sauravexodus opened #2 "Leak while dismissing the viewController"
Leak while dismissing the viewController

[2018-01-08 08:19] sauravexodus commented on #2
The same issue still persists on the 1.0.6 version of the pod.

[2018-03-30 02:54] Vidhyadharan-Mohanram opened #3 "Framework compiled with swift 4.1"
Xcode 9.3 has been released, along with it swift 4.1 is available now, due to swift's lack of ABI Stability a new framework compiled with swift 4.1 is required to use Xcode 9.3...

[2018-03-31 17:54] tuhinsbuddy commented on #3
Please compile with the latest Swift version(i.e. 4.1) which is necessary for Xcode 9.3

[2018-04-02 09:54] vuevrn opened #4 "how to remove x86_64 , i386 from Razorpay.framework?"
Please check this issue

https://github.com/razorpay/razorpay-ios-sample-app/issues/7

[2018-04-02 09:55] AbhinavArora95 commented on #4
When a framework is distributed, it contains architectures of the simulators so that the consumer of the framework can build it on a simulator. However, when you are uploading the archive on itunes, you have to strip these architectures. If you would have been using cocoapods, it would have been done by it. Since, probably you are not using it, please run the attached script on the Razorpay.framew

[2018-04-02 09:55] #4 closed

[2018-04-02 10:22] vuevrn commented on #4
After following what you just said, it all works fine in other devices, only on iPhone 5-5s devices - it crashes. How do I solve in iPhone 5-5s devices? that's the issue. Please help me through this.

thank you!

[2018-04-02 10:23] vuevrn commented on #4
![screen shot 2018-04-02 at 3 48 34 pm](https://user-images.githubusercontent.com/10462847/38193105-e470e3fa-368d-11e8-8a83-74d21b062321.png)

please check the screenshot

[2018-04-03 13:30] Abishek10 commented on #3
I am getting the following error after updating my Xcode. Please provide some workaround to this.

Module compiled with Swift 4.0.2 cannot be imported in Swift 4.1

[2018-04-03 13:31] AbhinavArora95 commented on #3
Hi, we are updating our frameworks and the one compiled with Swift 4.1 will be released by tomorrow

[2018-04-03 13:31] #3 closed

[2018-04-03 14:59] AbhinavArora95 commented on #4
Can you please drop an email at support@razorpay.com with your crash log and the integration code.

[2018-04-04 04:28] Vidhyadharan-Mohanram commented on #3
for anyone using bitcode razorpay has provided the link "https://rzp-mobile.s3.amazonaws.com/ios/checkout/1.0.12/RazorpayBitcodeX9.framework.zip" to download the bitcode enabled version of their framework compiled with swift 4.1.

[2018-04-11 19:55] debugger2017 opened #7 "Module compiled with Swift 3.1 cannot be imported in Swift 4.0.3"
After installing pod 'razorpay-pod', '1.0.11' I get this error **Module compiled with Swift 3.1 cannot be imported in Swift 4.0.3**. I tried deleting derived data, clean build folder also restarted Xcode. Unfortunately, none of the options worked.

**I am using Xcode version 9.2 and Swift 4.0.**

Can anyone guide me please here, what is the issue?

Thanks for helping.

[2018-04-12 06:39] iThink32 commented on #7
Hey please note that 1.0.11 is built to support Swift 3.1 and older versions of Xcode , please upgrade to Xcode 9.3 and install version 1.0.12 which is built for Swift 4.1.

[2018-04-23 06:22] SwiftAmit opened #9 "few seconds delayed in presenting payment screen"
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/34594282/39290762-5882ba84-494e-11e8-974f-6ca09fa2429e.gif)
after click on applicationits take too much time do display payment screen

[2018-04-25 12:37] rkpradeep20 opened #10 "Missing required module 'RazorpayCommonCrypto'"
I keep getting this exception every time I import razorpay into my swift view controller. I'm using cocoapods with razorpay-pod version 1.0.14. Please help. Need a fix for it at the earliest.

Thanks.

[2018-04-25 13:30] iThink32 commented on #7
closing this issue , please reopen if you need any further assistance

[2018-04-25 13:30] #7 closed

[2018-04-25 13:34] iThink32 commented on #2
Please check it in the latest release as deinit is being called when I checked.Closing this issue , reopen if the issue still persists.

[2018-04-25 13:34] iThink32 commented on #9
Please provide more details.

[2018-04-25 13:42] rkpradeep20 commented on #10
I'm using Xcode Version 9.3 (9E145).

[2018-04-25 14:02] rkpradeep20 commented on #10
This is seriously strange. Earlier when I tried to build the app, it kept throwing the exception - Missing required module 'RazorpayCommonCrypto'. I have been trying a fix since afternoon. I gave up after not getting any solution and that's when I posted an issue, I usually don't post any issue unless I really need help. But now it's suddenly working. I had cleaned, removed all pod file and once a

[2018-04-25 14:02] #10 closed

[2018-04-25 14:09] iThink32 commented on #10
its alright , but if its working now it means that you've done something to make it work.I believe there is something that you still must look into , nonetheless I've checked from my end and it works fine , closing this issue for now , reopen it if you face any issue.

[2018-04-26 07:08] SwiftAmit opened #11 "Xcode9.3 Error missing required module RazorpayCommonCrypto"
![screen shot 2018-04-26 at 12 25 03 pm](https://user-images.githubusercontent.com/34594282/39290862-a9d08114-494e-11e8-9f95-7bbf14b422c3.png)

[2018-04-26 07:13] iThink32 commented on #11
hey can you clear your derived data and rebuild , also make sure that you are opening the workspace and not the project

[2018-04-26 08:54] SwiftAmit commented on #11
already done a lot of time but same issues exist.

[2018-04-27 05:26] imankitnpatel commented on #11
Hello,
I am getting the same error in version 1.0.14. Working fine with 1.0.13 but keep showing message new version is available.
Please help!

[2018-04-27 06:06] iThink32 commented on #11
Dont worry the message will only be displayed while using a test key or running on a simulator , if you run it on a device or using the live key the message will not be shown.

[2018-04-27 06:09] iThink32 commented on #11
Hey guys you are facing this error due to some internal inconsistency.However this is not reported by everyone. We are working on it but until then please downgrade the pod version to 1.0.12 for swif 4.1 or 1.0.11 for swift 3.1

[2018-04-27 11:35] iThink32 commented on #10
hey have you used CommonCrypto in your project by any chance?

[2018-04-29 13:06] rkpradeep20 commented on #10
Sorry for the late replay. I’m not using CommonCrypto.
I think I figured out how I resolved the issue. I had commented out everything to do with razorpay and then run the project. Following that I Uncommented razorpay part that was commented. Probably doing that resolved the issue.

[2018-05-14 07:03] iThink32 commented on #11
We have release a new version a few days back , please update and let us know if you still face this issue.

[2018-05-14 07:03] #11 closed

[2018-05-25 13:16] akashvercetti opened #23 "Merchant Image inside the options for 1.0.16, Swift 4.1, Xcode 9.3"
Using **pod 1.0.16, Xcode 9.3, Swift 4.1**.
The `options` dictionary used to accept a `UIImage` object in the previous versions but now they don't. So I converted it to base64 but that doesn't work either.
SO is an online URL the only way to add a merchant image now?

[2018-05-25 13:20] AbhinavArora95 commented on #23
Hi @akashvercetti . The options dictionary still accepts a UIImage object against the key `image`. Please confirm the options you are using.

[2018-05-25 14:09] akashvercetti commented on #23
@AbhinavArora95 Heres the debug console options log

`["description": "Service request", "name": "Zed Secure", "amount": 177000, "image": <UIImage: 0x1c00b9e60> size {60, 60} orientation 0 scale 2.000000, "theme": ["color": "#14254b"], "notes": ["ConsumerID": 6333, "ConsumerServiceRequestID": 3438119, "id": "UDSGAF167SS7FB6HDB7907GGEVAUGKBN", "app": "Zed Secure"]]`

And here's the output crash log

[2018-05-30 06:39] AbhinavArora95 commented on #23
The crash that you are getting is because of the way you are creating the UIImage. Please confirm the options that you are sending to checkout (in the code and not the debug). Also, attach the code you are using to create the UIImage.

[2018-05-31 07:38] akashvercetti commented on #23
[code]

The `UIImage(named: "AppIcon60x60")` is not nil, I did a `po` command to double check it.

[2018-05-31 10:20] AbhinavArora95 commented on #23
Hi @akashvercetti, It appears in some specific scenarios the issue might arise in our sdks. We will be rolling out a fix for this in a couple of days. Till then you can pass the url of the image you want to show under the same key. Apologies for the inconvenience.

[2018-07-23 12:54] jayeshjoshi003 opened #27 "could not build Objective-C module 'RazorpayCommonCrypto'"
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x] I have cleaned my project , deleted derived data and rebuilt it.

I am using Xcode9.4.1 and Mac OS Version 10.13.4. A

[2018-07-23 13:09] iThink32 commented on #27
Hey im assuming that your integrating our sdk directly i.e without pods in that case just have a look at this video and follow the steps in it , it will resolve your issue

https://razorpay.com/docs/ios/integration-videos/

watch the video named Integrating the SDK on iOS Framework

[2018-07-24 06:51] iThink32 commented on #23
closing this issue now , reopen if any issue exists

[2018-07-24 06:51] #23 closed

[2018-08-10 09:35] PulkitAppz opened #28 "header '/Applications/Developer/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS11.0.sdk/usr/include/CommonCrypto/CommonCrypto.h' not found"
I have just updated the pod version for Swift 4.1 and when I build my code , I am getting this error.

[code]

[2018-08-13 06:51] iThink32 commented on #28
can you please provide all the details that is specified while creating an issue?

[2018-08-20 12:04] ashokadichill commented on #28
Hi

here is possible replicate of the issue by doing the following things

I have Xcode 9.2
I need to update to swift 4.1 so i have download  Xcode 9.3.
my Xcode 9.3 will be kept inside my downloads
my Xcode 9.2 will be kept in Application

For clarity of XCode I have renamed the my Xcode 9.2 version to Xcode_9.2

So  my Razor Pay header ->
header '/Applications/Xcode.app/..../CommonCrypto.h

<unk

[2018-08-27 07:28] Nautiyalsachin commented on #27
@iThink32 Can you tell me where to find the script for setting the default Xcode ?

[2018-08-27 09:15] iThink32 commented on #27
sure it is present in the FAQ section , here's the link
https://razorpay.com/docs/ios/faq/
you can watch this video to get a better idea ,

https://razorpay.com/docs/ios/integration-videos/

[2018-09-03 09:32] akashvercetti opened #31 "Module compiled with Swift 4.1 cannot be imported in Swift 4.2"
Using iOS12, Xcode 10 Beta.
The latest pod supports Swift 4.1. I would fix this by changing Swift version to 4.1 in the pod build settings but there's no Target called razorpay-pod inside the Pods Project.
Could you guys release a 4.2 supported Pod version please?

[2018-09-12 10:59] Vidhyadharan-Mohanram commented on #31
I'm having an hard time working with Xcode 9, hopefully the new framework version is updated by the end of this week to support 4.2 and Xcode 10 as razorpay is the only framework that I cannot use with Xcode 10...

[2018-09-12 11:39] iThink32 commented on #31
@Vidhyadharan-Mohanram we are aware of the release of iOS 12 today but we will not able to ship it by the end of this week , it will be done by the end of our current sprint that is by 28th of this month

[2018-09-12 11:40] iThink32 commented on #31
@Vidhyadharan-Mohanram please note that we will ship our framework only if a stable version of Xcode 10 is shipped in this timeframe and not the beta.

[2018-09-12 11:48] iThink32 commented on #28
Yes two things , We do not support Xcode 9.2 anymore , please use Xcode 9.3+ and use the latest version.
Secondly the name of your default Xcode is important , we have added a script to cocoa pods to set our Xcode path based on your Xcode's name.This is the first such issue faced , please continue using your fix and ill give it a look in the next release.

[2018-09-12 11:48] #28 closed

[2018-09-12 11:49] iThink32 commented on #27
closing due to inactivity

[2018-09-12 11:49] #27 closed

[2018-09-12 11:49] iThink32 commented on #9
closing due to inactivity

[2018-09-12 11:49] #9 closed

[2018-09-12 12:00] jayeshjoshi003 commented on #27
Reason was I have multiple xcodes installed on my machine. because of some other issue I reinstall the OS and install Single (Xcode 9.4) now its working fine.

[2018-09-12 12:57] Vidhyadharan-Mohanram commented on #31
@iThink32 thank you for updating...

[2018-09-19 10:30] kalrashubham49 opened #32 "Issue With Xcode 10"
When running App in Xcode 10 facing below mentioned issue , Can you please check and let us know what it could be ?

dyld: Symbol not found: __T0BOWV
  Referenced from: /Users/shubham/Library/Developer/CoreSimulator/Devices/2B66CCB9-52E7-469E-964B-C72B33891F02/data/Containers/Bundle/Application/23809513-FD0A-49FA-B0D4-AFF9C0E78F8D/Guesthouser Staging.app/Frameworks/Razorpay.framework/Razorpay
  Ex

[2018-09-19 13:50] nikilesh122 commented on #32
iam getting such a error **Module compiled with Swift 4.1 cannot be imported by the Swift 4.2 compiler:** at the import statement

[2018-09-20 05:29] kalrashubham49 commented on #32
Request you to expeditely look into the issue, as we have a very important build to go live.

[2018-09-20 05:40] ManoharaK commented on #31
Giving an error after updating to xcode 10. our app is in live, it will effect to iOS 12 users.

dyld: Symbol not found: __T0BOWV
  Referenced from: /Users/manohar/Library/Developer/CoreSimulator/Devices/315C4D86-B68C-482C-8E7A-8FB882B77071/data/Containers/Bundle/Application/30A737EE-74B2-419D-980A-F32283D0DA1E/StayAbode.app/Frameworks/Razorpay.framework/Razorpay
  Expected in: /Users/manohar/Libr

[2018-09-20 05:51] lintocj opened #33 "Issue With Xcode 10"
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x] I have cleaned my project, deleted derived data and rebuilt it.

dyld: Symbol not found: __T0BOWV Referenced from: /p

[2018-09-20 06:17] akashvercetti commented on #31
Now that Xcode 10 Golden Master is out and iOS 12 is released, please release a Swift 4.2 and iOS 12 compliant version of RazorPay. There are a lot of live projects dependent on it.

[2018-09-20 06:18] ManoharaK opened #34 "Having issue with xcode 10"
Giving an error after updating to xcode 10. our app is in live, it will effect to iOS 12 users.

dyld: Symbol not found: __T0BOWV
Referenced from: /Users/manohar/Library/Developer/CoreSimulator/Devices/315C4D86-B68C-482C-8E7A-8FB882B77071/data/Containers/Bundle/Application/30A737EE-74B2-419D-980A-F32283D0DA1E/StayAbode.app/Frameworks/Razorpay.framework/Razorpay
Expected in: /Users/manohar/Library/

[2018-09-20 06:51] iThink32 commented on #32
Hey @kalrashubham49 @ManoharaK , we are working on Xcode 10 support and will make a release on 28th September.

@ManoharaK Live apps will not be affected , you don't need to worry.

[2018-09-20 06:51] #32 closed

[2018-09-20 06:53] iThink32 commented on #34
No it will not affect iOS 12 users.

We are aware of this issue , it is because Xcode 10 supports Swift 4.2 and above and our framework is compiled with Swift 4.1.We are making a release on September 28th for this , please wait till then.

[2018-09-20 06:53] #34 closed

[2018-09-20 06:54] iThink32 commented on #33
We are aware of this issue , it is because Xcode 10 supports Swift 4.2 and above and our framework is compiled with Swift 4.1.We are making a release on September 28th for this , please wait till then.

[2018-09-20 06:54] #33 closed

[2018-09-20 06:55] iThink32 commented on #31
@akashvercetti @ManoharaK Don't worry ,it will not affect live users , it is an Xcode issue.
It is because Xcode 10 supports Swift 4.2 and above and our framework is compiled with Swift 4.1.We are making a release on September 28th for this , please wait till then.

[2018-09-20 08:39] iThink32 commented on #31
@ManoharaK please ask them to replicate the steps for the crash and provide it here so we can check it.

[2018-09-20 09:18] ManoharaK commented on #31
thanks for quick replay @iThink32, we will update you

[2018-09-20 09:19] ManoharaK commented on #34
@iThink32 thanks fro quick replay

[2018-09-25 05:48] Abishek10 opened #35 "Framework compiled with Swift 4.2"
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x] I have cleaned my project , deleted derived data and rebuilt it.

Could you please provide the framework compiled wit

[2018-09-25 06:40] iThink32 commented on #35
We will be making a release this Friday , please wait till then.

[2018-09-28 05:06] SuganyaEkambaram commented on #31
kindly release ios 12 version of RazorPay.

[2018-09-28 05:59] iThink32 commented on #31
@SuganyaEkambaram the latest version has been released please check the readme of this repo or execute pod update.

[2018-09-28 08:41] sanchgoel commented on #31
@iThink32 I was using custom ui framework ... where can i find its updated framework supported for swift 4.2 ... custom UI does not have pod right?

[2018-09-28 10:15] iThink32 commented on #31
@sanchgoel the SDK will be reflected on the same page that you used to download it from , please give me your email ID and I will give me more details.

[2018-09-28 10:22] Nitinbond opened #37 "Swift 4.2 Compiler error"
Module compiled with Swift 4.1 cannot be imported by the Swift 4.2 compiler: /Users/sandeepankumar/Desktop/design/LawzGrid_Customer_4.0_Renew/Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/x86_64.swiftmodule
![screenshot 2018-09-28 at 3 51 34 pm](https://user-images.githubusercontent.com/11436995/46203134-7138d380-c336-11e8-9ca1-2547cb1f1b89.png)

[2018-09-28 10:27] akashvercetti opened #38 "Attempt to present <UINavigationController> on <HomeTabBarController> whose view is not in the window hierarchy."
Xcode 10, iOS 12, Swift 4.2.

After upgrading to the latest Pod, I'm not able to present the Razorpay scene.
The console message I get is
`Warning: Attempt to present <UINavigationController: 0x10527fe00> on <**HomeTabBarController**: 0x104559df0> whose view is not in the window hierarchy!`

The reason I'm guessing for this is, the Razorpay scene is presented on the key window's **RootViewControll

[2018-09-28 10:36] iThink32 commented on #38
hey @akashvercetti Razorpay first checks if you have a navigation controller , if you do pushed on top of everything else presents on the topviewcontroller.

[2018-09-28 10:38] iThink32 commented on #38
@akashvercetti  this is the standard procedure that is usually followed on iOS so changing it would be difficult , please let me know if there is any other way I can help you.

[2018-09-28 11:12] akashvercetti commented on #38
Just throwing this idea out there, but could you create an additional `.open` method which accepts a `presenting controller` parameter and maybe a `push/present enum` value? This method would allow us present/push razorpay scenes from a viewController of our choice. You can keep the original `.open` method intact as it is.

[2018-09-29 05:01] Vidhyadharan-Mohanram opened #39 "Framework version '1.0.23' does not support iOS 9"
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x] I have cleaned my project , deleted derived data and rebuilt it.

The project that I'm working on has a minimum deplo

[2018-09-29 05:15] Pushpendracolourmoon commented on #35
@iThink32, Shasank I am trying to install this today **Saturday**. But I am still not getting it, it is showing me an error.

`[!] CocoaPods could not find compatible versions for pod "razorpay-pod":
  In Podfile:
    razorpay-pod (= 1.0.23)

None of your spec sources contain a spec satisfying the dependency: `razorpay-pod (= 1.0.23)`.

You have either:
 * out-of-date source repos which you can up

[2018-09-29 07:18] Karthikeyan-Thiru commented on #35
make the project's deployment target to iOS. 10.0

[2018-09-29 07:32] iThink32 commented on #39
@Vidhyadharan-Mohanram we are supporting only versions from iOS 10+ I request you to move to iOS 10 , there are not many changes.Let me know if you are facing difficuties in that.

[2018-09-29 07:33] iThink32 commented on #35
@Pushpendracolourmoon , @Karthikeyan-Thiru is right , we support iOS 10 + from now on.

[2018-09-29 12:02] Karthikeyan-Thiru commented on #35
@iThink32, but I received this error Cannot find protocol declaration for 'RazorpayPaymentCompletionProtocol'

[2018-09-29 12:14] rkpradeep20 commented on #38
Hey, I'm facing the same issue. I'm trying to present Razorpay over a navigation controller. But, it's throwing an error.
From what I have analyzed, razorpay is trying to present the screen from the RootVC. I guess that's the reason for this issue.
There are two scenarios where I see issues arising: One in a container or another when there is no container.
Can you change the view controller in the

[2018-09-29 12:46] rkpradeep20 commented on #38
I found one more thing helpful. I you are setting the view controller by this method:
if var topController = UIApplication.sharedApplication().keyWindow?.rootViewController, Then here is helpful link:
https://stackoverflow.com/questions/26667009/get-top-most-uiviewcontroller
Getting the topmost view controller
if var topController = UIApplication.sharedApplication().keyWindow?.rootViewController {

[2018-09-29 15:27] iThink32 commented on #38
@akashvercetti ok good suggestion but can u give me a few use cases where the current implementation is difficult to handle

[2018-09-29 15:32] iThink32 commented on #38
@rkpradeep20 our ViewController is only presented in case your rootviewcontroller is not a UINavigationController , else it is pushed on to the navigation stack.
In response to your link , I can present it on the top most controller but don't you thing it is not a good idea?
Ideally a given controller A should present only one screen at a time , presenting multiple controllers is usually not a goo

[2018-09-30 00:36] rkpradeep20 commented on #38
@iThink32 I totally agree with your argument. Let me just give your my current scenario, and what issue I'm facing.
My View Hierarchy:

Root View Controller: Initial View Controller
UINavigationViewController: Checkout Flow Navigation Stack

Checkout Flow Navigation Stack is presented on top of Initial View Controller to complete buying the product.
If as you mentioned, razorpay should be able to

[2018-09-30 04:52] nikilesh122 commented on #38
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/28642835/46253487-84fd4a80-c49a-11e8-8954-7da503a3309e.gif)

hi iam launchin razor-pay page in navigation controller when launched the razor pay page it comes back to my page but the navigation bar is lost

[2018-09-30 05:55] iThink32 commented on #38
@rkpradeep20 your pictures clearly shows that Razorpay is being pushed on to your nav stack (check the animation or try printing navVC.viewcontrollers), the issue Warning: Attempt to present <UINavigationController: 0x7fb50b806c00> on <Jyothirvaibhava.Initial_ViewController: 0x7fb5076083a0> whose view is not in the window hierarchy! is not because to that

check this link

https://stackoverflow.co

[2018-09-30 05:56] iThink32 commented on #38
@akashvercetti I think you should also have a look at the link shared above.

[2018-09-30 09:16] rkpradeep20 commented on #38
I'm pretty sure @akashvercetti  and I made our point and clearly addressed the issue. The link you provided helpful for people who try to present the View Controller in viewDidLoad method. But the issue we are facing and the solution you are giving us is no way relevant.

Thanks for no help.

[2018-09-30 10:28] iThink32 commented on #38
@rkpradeep20 it is occurring because we are checking the type of your rootviewcontroller , in your case it is not a UINavigationController due to which it is getting presented , to get things clear just take a sample app and test it with/without a navigation controller and it will clearly explain what is happening.

[2018-09-30 10:43] rkpradeep20 commented on #38
The sample app is not working its crashing on launch.

The log:

<img width="1440" alt="screen shot 2018-09-30 at 4 13 26 pm" src="https://user-images.githubusercontent.com/15925427/46256689-c78b4b00-c4cb-11e8-99e3-222e7b376546.png">

[2018-09-30 10:46] rkpradeep20 commented on #38
We should be able to launch the payment screen on any View Controller, not just from root view controller.

[2018-09-30 10:50] iThink32 commented on #38
@rkpradeep20 by sample app I mean create your own sample app and test , yes we can launch the payment screen on any controller , give it a try.

[2018-09-30 11:50] rkpradeep20 commented on #38
I have made a test project as you requested and I'm still facing the issue.
Please clone the project from the link below to have a look:
https://github.com/rkpradeep20/RazorpayTest

Gif of the screen grab for the above project.
![image](https://user-images.githubusercontent.com/15925427/46257303-f823b280-c4d4-11e8-969a-8826f6cd648f.gif)

[2018-09-30 13:18] iThink32 commented on #38
@rkpradeep20 yes that was my point from the beginning if your rootviewcontroller is a uinavigationcontroller it will push else it will present on the rootViewController

[2018-09-30 13:39] iThink32 commented on #37
@Nitinbond please update to the latest version.

[2018-09-30 13:39] #37 closed

[2018-09-30 19:07] akashvercetti commented on #38
Please forward the working sample app to me at carljohnson.akash@gmail.com

Or post it somewhere on github

[2018-10-01 05:53] akashvercetti commented on #38
@iThink32 I think the best solution would be to make a new .**open** function where you would let us choose the presenting controller and let us decide if we want to **push** or **present**. This is probably the best and most flexible solution for everyone.

[2018-10-01 06:41] iThink32 commented on #38
@akashvercetti suggestion taken will take this up for the next release.Anyway regarding the sample app , as of now we have not uploaded any Swift sample app so ill modify the one @rkpradeep20 has sent and send it to both of you in a while.

[2018-10-01 07:01] ChandraPrakashJangid opened #40 "<unknown>:0: error: module compiled with Swift 4.1 cannot be imported by the Swift 4.2 compiler"
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x] I have cleaned my project , deleted derived data and rebuilt it.

Before update of Xcode my app was working perfectly

[2018-10-01 07:13] iThink32 commented on #40
@ChandraPrakashJangid update to the latest version of our framework.Check the readme for more details.

[2018-10-01 09:43] iThink32 commented on #38
@akashvercetti the next release will have the following fix :-

open() method will have a presentationViewController option , if you specify this we will use this to present our checkout screen. We are going to continue using the rootController to perform push.

[2018-10-01 10:10] SuganyaEkambaram opened #41 "Error on payment succes"
- [ ] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [ ] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [ ] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [ ] I have cleaned my project , deleted derived data and rebuilt it.

i updated the Framework for xcode 10,
after facing

[2018-10-01 12:45] SuganyaEkambaram commented on #41
@iThink32  - is this issue related to framework..?

[2018-10-01 12:47] iThink32 commented on #41
@SuganyaEkambaram its just a log from our end that we have to make sure we have no strong reference cycles , you don't have to worry about it.

[2018-10-01 12:49] SuganyaEkambaram commented on #41
@iThink32 but i dont get success pament_id, on success delegate...!

[2018-10-01 12:51] iThink32 commented on #41
@SuganyaEkambaram I just check im getting it , what are you getting in your callback?

[2018-10-01 13:28] SuganyaEkambaram commented on #41
@iThink32  - on success delegate function,its not getting inside the alertAction and alertController also not even showup.

[2018-10-02 14:17] Abishek10 opened #42 "Checkout View is not opening."
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x] I have cleaned my project , deleted derived data and rebuilt it.

The razorpay.open is not showing the checkout view

[2018-10-03 01:43] Abishek10 commented on #38
@iThink32 Please mail the working sample app to abishek@mykarmaapp.com

[2018-10-03 03:08] Abishek10 commented on #42
@iThink32 I was able to fix this by changing the rootViewController to UINavigationController. I was facing the issue similar to #38 . Now, I am able to open the Razorpay payment screen.

But, if I close the payment screen without completing the payment successfully, I am not able to go back from that screen. Please look into this issue.

[2018-10-03 06:13] iThink32 commented on #41
@SuganyaEkambaram after the success delegate is gets called we lose control over your app as the SDK closes now why it doesn't enter your alertcontroller's callback is something you have to give another look at.

[2018-10-03 06:17] iThink32 commented on #42
@Abishek10 I am not able to understand what you are saying , i will send you the sample app you can verify with that.

[2018-10-03 06:31] lintocj opened #43 "Cannot find protocol declaration for 'ExternalWalletSelectionProtocol'"
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x] I have cleaned my project , deleted derived data and rebuilt it.

Cannot find protocol declaration for 'ExternalWalle

[2018-10-03 07:18] iThink32 commented on #43
@lintocj delete your derived data and build again as it is working for other clients.

[2018-10-03 07:47] iThink32 commented on #38
@akashvercetti its not a good approach to present a viewController over a navigationController , anyway the next release will have the open(displayController) method with which you can specify the viewController on which our Controller has to be displayed.

[2018-10-03 07:48] iThink32 commented on #38
@rkpradeep20  the next release will have the open(displayController:) method with which you can specify the viewController on which our Controller has to be displayed.

[2018-10-03 07:48] iThink32 commented on #42
the next release will have the open(displayController:) method with which you can specify the viewController on which our Controller has to be displayed.

[2018-10-03 07:49] #40 closed

[2018-10-03 07:49] iThink32 commented on #39
closing due to inactivity.

[2018-10-03 07:49] #39 closed

[2018-10-03 07:59] akashvercetti commented on #38
I guess I didn't explain it properly, We present it over a view Controller at the top of the navigation controller stack, not the navigation controller itself. But I guess I will have to wait for the next release.

[2018-10-03 08:17] iThink32 commented on #38
@akashvercetti ok , keep a watch at the readme we will be making a release within a day or two

[2018-10-03 08:19] iThink32 commented on #35
closing due to inactivity.

[2018-10-03 08:19] #35 closed

[2018-10-03 11:57] iThink32 commented on #42
@Abishek10 a new version has been released , please update.

[2018-10-03 11:57] iThink32 commented on #38
@akashvercetti a new version has been released , please update.

[2018-10-03 12:04] iThink32 commented on #41
@SuganyaEkambaram its difficult for me to debug your issue with the information I have as my control ends with the callback.Try creating a sample app and integrating it and see if you can reproduce the issue.

[2018-10-03 16:45] Abishek10 commented on #42
[ScreenRecording_10-03-2018 22-09-44.MP4.zip](https://github.com/razorpay/razorpay-pod/files/2442890/ScreenRecording_10-03-2018.22-09-44.MP4.zip)

Please look at this video. If the cancel the payment, my nav bar gets hidden and I am not able to go back. But this is not happening if I complete payment successfully. Please look into the problem.

[2018-10-03 16:46] Abishek10 commented on #42
This happens with the latest release also.

[2018-10-04 06:56] iThink32 commented on #42
@Abishek10 our SDK requires the nav bar to be hidden / shown appropriately , at the beginning the nav bar is hidden by us , the ideal fix would be to hide your nav bar before calling the open method and unhiding it when you any of our delegate methods get called.

[2018-10-04 07:06] iThink32 commented on #38
closing as this issue has been fixed , please reopen if you continue facing any issue

[2018-10-04 07:06] #38 closed

[2018-10-04 07:07] iThink32 commented on #41
closing due to inactivity , reopen If you need any further help.

[2018-10-04 07:07] #41 closed

[2018-10-04 07:56] shahnawazali opened #45 "Hide Navigation Bar of Checkout Scene"
Xcode 10, iOS 12, Swift 4.2.

After upgrading to the latest Pod 1.0.24, I'm able to present the Razorpay scene But it is hiding my Navigation Bar.

I am using method razorpay.open(options, displayController: self).
when I am passing displayController param  as self and came back to my Checkout Scene then It's navigation bar is hidden that used to navigate to previous Scene.

When i am passing disp

[2018-10-04 08:53] iThink32 commented on #45
@shahnawazali if your rootViewController is not a UINavigationController you should use the displayController property , it uses the controller specified to display it appropriately.

Regarding the nav bar issue , yes it is a know issue and we have added it to our list of bugs but for now
before you call open()
hide the navigation controller - [self.navigationController setNavigationBarHidden:YES

[2018-10-04 10:49] shahnawazali commented on #45
Thanks for your response and get resolved.

[2018-10-04 11:59] lintocj commented on #43
@iThink32 Everything tried from my end, but getting the same error.

[2018-10-04 12:03] lintocj commented on #43
I am trying from objective C, is there anything need to update from my end compared to the previous build(Pod 1.0.22). Currently, I am trying (Pod 1.0.24).

[2018-10-04 12:11] iThink32 commented on #43
@lintocj you have to include <Razorpay/Razorpay-Swift.h> instead of <Razorpay/Razorpay.h>

[2018-10-04 12:41] lintocj commented on #43
@iThink32 Now it's showing like "No visible @interface for 'Razorpay' declares the selector 'open:'

[2018-10-04 12:51] lintocj commented on #43
Okay. Working!. Please update your document.

[2018-10-04 12:55] iThink32 commented on #43
@lintocj updated. Closing as this issue is fixed.

[2018-10-04 12:55] #43 closed

[2018-10-05 02:29] Abishek10 commented on #42
@iThink32 Thanks for the fix. It's working fine now.

[2018-10-05 02:29] #42 closed

[2018-10-06 07:36] phadteViraj commented on #7
I'm getting this error when i switched to xcode 10
error: module compiled with Swift 4.1 cannot be imported by the Swift 4.2 compiler: /Users/viraj/Desktop/Vachan app/vachan-ios/Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/x86_64.swiftmodule

[2018-10-06 08:33] phadteViraj opened #46 "XCode 10 : Razorpay pod “module compiled with Swift 4.1 cannot be imported by the Swift 4.2 compiler”"
I'm getting this error when i switched to xcode 10
error: module compiled with Swift 4.1 cannot be imported by the Swift 4.2 compiler: /Users/viraj/Desktop/Vachan app/vachan-ios/Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/x86_64.swiftmodule

[2018-10-08 07:10] iThink32 commented on #7
@phadteViraj please update to our latest framework and try.

[2018-10-08 07:11] iThink32 commented on #46
@phadteViraj please update to our latest framework and try , refer the readme of this repo for instructions.

[2018-10-09 07:50] parthbizmo opened #47 "Checkout page not shown - Only white screen appears"
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x] I have cleaned my project , deleted derived data and rebuilt it.

When I try to open the checkout form using the razo

[2018-10-09 08:15] Karthikeyan-Thiru commented on #47
Same issue occurs in the version 1.0.18. Already APP is in live now

[2018-10-09 10:12] iThink32 commented on #47
@Karthikeyan-Thiru please update to our latest version and try.
@parthbizmo im not able to reproduce the issue on my end , can you create a test app yourself and try?

[2018-10-09 10:13] iThink32 commented on #46
closing due to inactivity.

[2018-10-09 10:13] #46 closed

[2018-10-09 11:43] parthbizmo commented on #47
@iThink32 : I think I found the solution. I am closing this issue. After the issue with razorpay-pod started occurring, after some time, xcode started showing me strange errors. Turns out, the issue is with macOS. It was not letting xcode create / update derived data files. Following is he issue and what I did to resolve it. Maybe it will be helpful for you in the future.

[Stackoverflow link for

[2018-10-09 11:43] #47 closed

[2018-10-09 11:45] iThink32 commented on #47
@parthbizmo damn this was the fix? great anyway thanks.

[2018-10-10 03:59] parthbizmo commented on #47
@iThink32 : Yep. I was able to replicate it again later yesterday. :grimacing:

[2018-10-10 06:39] iThink32 commented on #47
@parthbizmo let me know if you need any help from my end.

[2018-10-12 09:05] loksurya opened #49 "ios 9 support"
Any particular reason you have stopped supporting ios 9, as we still have some customers on ios 9 and at the same time we also want the latest version.

[2018-10-12 10:31] iThink32 commented on #49
@loksurya the main reason being the release of iOS 12 and this link
https://developer.apple.com/support/app-store/ which clearly shows there are only 7 % of users below iOS 11 from which you can give a clearly say that the number of iOS 9 users are very minimal.
So we  decided to support a minimum deployment target of iOS 10.
Our previous frameworks still support iOS 8+ but moving forward we are g

[2018-10-15 07:13] iThink32 commented on #49
closing due to inactivity.

[2018-10-15 07:13] #49 closed

[2018-10-29 15:53] Nautiyalsachin opened #50 "Issue in archiving with xcode 10."
- [ ✔️] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [ ✔️] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [ ✔️] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [ ✔️] I have cleaned my project , deleted derived data and rebuilt it.

I am facing this issue
Failed to verify bit

[2018-10-30 06:35] iThink32 commented on #50
@Nautiyalsachin we do not code sign our frameworks from our end.We ship our framework with simulator architectures , you must remove them before you create an archive.
have a look at the video on this page named creating an app archive:
https://razorpay.com/docs/ios/integration-videos/

[2018-10-30 07:09] Nautiyalsachin commented on #50
@iThink32 Thank you for the quick reply and it worked too, it was working before in xcode 9 but now they are more strict about the release policy.

[2018-10-30 07:09] #50 closed

[2018-12-26 14:14] ShahnaHassan commented on #38
can anyone help me with the simplest solution for this issue?

[2018-12-27 09:43] iThink32 commented on #38
@ShahnaHassan this issue has been fixed long back , please refer the readme for more details.

[2019-01-03 05:20] ShahnaHassan commented on #38
Sir,
I would like to know how can we get the payment details like paid amount
payment mode etc..by passing the paymentId.
Kindly reply me as soon as possible.

On Thu, Dec 27, 2018 at 3:13 PM Shashank <notifications@github.com> wrote:

[2019-01-03 07:37] iThink32 commented on #38
@ShahnaHassan both of the above have to done via the admin dashboard , there is no provision for it via the SDK.

[2019-01-03 08:15] ShahnaHassan commented on #38
Thank You Sir

On Thu, Jan 3, 2019 at 1:07 PM Shashank <notifications@github.com> wrote:

[2019-01-03 08:19] ShahnaHassan commented on #38
I would also like to know whether will you provide these functionalities in
future via SDK?

On Thu, Jan 3, 2019 at 1:45 PM Shahna Hassan <shahna.c.t666@gmail.com>
wrote:

[2019-01-03 08:32] iThink32 commented on #38
@ShahnaHassan its currently not in our roadmap as of now , will update the readme if we expose such a feature in future.

[2019-01-07 11:01] ShahnaHassan commented on #38
Thank you!

[2019-01-18 03:47] prem0423 opened #51 "Razorpay 1.0.26 Podfile setup issue"
- [ ] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [ ] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [ ] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [ ] I have cleaned my project , deleted derived data and rebuilt it.

Am unable to use Pod file of either latest version

[2019-01-18 06:04] iThink32 commented on #51
@prem0423 we support a minimum deployment target of iOS 10+.I will update the documentation regarding the same.

[2019-01-18 20:21] prem0423 commented on #51
@iThink32 Tried iOS 10+ as minimum version as mentioned earlier, but no luck.

[2019-01-21 06:36] iThink32 commented on #51
@prem0423 how did you set the minimum deployment target , did you do it in Xcode? I recommend you to check our integration videos for cocoapods , it will surely help you.The link is
https://razorpay.com/docs/ios/integration-videos/

[2019-01-22 05:10] prem0423 commented on #51
I followed the link mentioned above and tried once again, following is the crash log,

dyld: Library not loaded: @rpath/libswiftCore.dylib
  Referenced from: /Users/hello/Library/Developer/CoreSimulator/Devices/D82E7EE6-D784-465D-AFC7-D9A033896987/data/Containers/Bundle/Application/01496A5D-4D8C-4926-BA41-A1DE78C10F70/demok.app/Frameworks/Razorpay.framework/Razorpay
  Reason: image not found
(lldb

[2019-01-22 06:48] prem0423 commented on #51
@iThink32 Your documents also seem to be defined for older frameworks, please check https://razorpay.com/docs/ios/

[2019-01-22 12:20] iThink32 commented on #51
@prem0423 set alwaysEmbedSwiftStandardLibraries to true in build settings of your main project.

[2019-01-30 10:21] prem0423 commented on #51
Yes, did already

[2019-02-11 13:31] iThink32 commented on #51
closing due to inactivity.

[2019-02-11 13:31] #51 closed

[2019-03-04 12:22] sachindobariya commented on #41
same issue in iOS but it works perfectly in Android

[2019-03-04 12:26] sachindobariya opened #55 "Payment Failed - Unexpected Error"
Not able to initialise from iOS Application it shows below message but it works perfectly in android

trying below code to open razor pay

self.razorpay.open(razorPayDic, displayController: self)

/Users/travis/build/razorpay/razorpay-ios/RazorpayIOS/CheckoutOtpelf/RazorpayCheckoutVC.swift deinitialized

when try to initialise it shows above message in editor and alert with message "Payment failed

[2019-03-14 14:14] DeyanDobrev commented on #31
Is there a chance for me to use your great player on xCode 10, swift 4.2.1 ?

[2019-03-20 09:00] skmani commented on #55
I am also getting the same issue

[2019-03-20 09:01] skmani commented on #55
Please Reply as soon as possible

[2019-03-26 05:30] reallyram opened #56 "Xcode 10.2 - Build Failed : Module compiled with Swift 4.2.1 cannot be imported by the Swift 5.0 compiler: /Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/arm.swiftmodule"
- [x ] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x ] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x ] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x ] I have cleaned my project , deleted derived data and rebuilt it.

Xcode Build Failed

Module compiled with Swift

[2019-03-27 06:33] shahnawazali commented on #56
I am also facing this issue

/Razorpay.framework/Razorpay compiled with older version of Swift language (unknown ABI version 0x06) than previous files (unknown ABI version 0x07) file /Razorpay.framework/Razorpay' for architecture armv7

[2019-03-27 09:10] parthbizmo commented on #56
I am also facing the same issue. Please update the module to be Swift 5 compatible

[2019-03-27 09:20] AbhinavArora95 commented on #56
Hi. Apologies for the delay in releasing. We are working on the new release and should be released in a couple of days.

[2019-03-28 06:15] Krtic commented on #56
I am also facing the same problem. Waiting for swift 5 compatible one.

[2019-03-28 06:22] rkpradeep20 commented on #56
Facing the same issue here. Would like a build built with the latest xcode 10.2.

[2019-03-30 03:21] Krtic commented on #56
Any update ??????

[2019-03-30 05:44] reallyram commented on #56
@AbhinavArora95 Can we have an estimated release date? As you might know it is a blocker for us to debug the App on iOS 12.2 devices. To debug on iOS 12.2 we need to use Xcode10.2

[2019-03-30 07:40] rkpradeep20 commented on #56
@AbhinavArora95 Would appreciate information on the release date. Same as above ☝️.

[2019-03-30 18:14] Krtic commented on #56
gonna change to pay u money... this one is a blocker...  razor pay was a nice one...

[2019-04-03 07:59] SuganyaEkambaram commented on #56
same issue, Early Release would be appreciated!

[2019-04-03 11:58] sauravexodus commented on #41
I am facing this issue as well. There is a ridiculous solution provided in the other thread which doesn't make sense at all.

[2019-04-03 11:59] sauravexodus commented on #41
The other solution doesn't work for me as well

[2019-04-03 12:08] sauravexodus commented on #41
I fixed it by calling `razorpay.open(options, displayController: self)` in my ViewController

[2019-04-03 12:10] sauravexodus commented on #55
Are you reinitializing the instance every time?

[2019-04-03 15:46] Krtic commented on #56
You can download the framework compiled in swift 5 here https://razorpay.com/docs/ios/

[2019-04-03 21:40] AbhinavArora95 commented on #56
Hi. Apologies for not updating over here. It's often tough to update everywhere. Nevertheless, as mentioned by @Krtic , you can find the updated framework [here]( https://razorpay.com/docs/ios/) . It was released on 1st April and NO it wasn't an April Fools prank.

[2019-04-03 21:40] #56 closed

[2019-04-04 08:53] sureshcapternal commented on #35
I have XCode Version 10.2 (10E125)
with swift 5
I'm trying to integrate razorpay but getting runtime error as :

dyld: Library not loaded: @rpath/libswiftCore.dylib
  Referenced from: /Users/capternal/Library/Developer/CoreSimulator/Devices/C14B2FF6-49C0-4398-8D0F-C5893EE20BC3/data/Containers/Bundle/Application/2E01BDB6-55E3-4CA5-B540-B1CB7348559B/customer_stage.app/Frameworks/Razorpay.framework/R

[2019-04-04 09:01] Mayur-Wadpalliwar commented on #35
@sureshcapternal Please check the FAQ 3 here: https://razorpay.com/docs/ios/faq/

[2019-04-04 09:06] sureshcapternal opened #58 "image not found issue with XCode Version 10.2 (10E125) with swift 5 and Objective-C integration"
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x] I have cleaned my project , deleted derived data and rebuilt it.

I have XCode Version 10.2 (10E125)
with swift 5
I'm

[2019-04-05 12:20] hardikamal opened #59 "Module compiled with Swift 4.2.1 cannot be imported by the Swift 5.0 compiler"
- [YES] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [YES] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [YES] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [YES] I have cleaned my project , deleted derived data and rebuilt it.

Module compiled with Swift 4.2.1 cannot be

[2019-04-08 06:32] laralb commented on #58
I am also getting the same issue

[2019-04-08 06:58] laralb opened #62 "/Users/travis/build/razorpay/razorpay-ios/RazorpayIOS/CheckoutOtpelf/Classes/RazorpayCheckoutVC.swift deinitialized"
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x] I have cleaned my project , deleted derived data and rebuilt it.

## IDE Specs

## Retro Steps

## Screenshots

[2019-04-08 07:00] laralb commented on #62
i am getting swift deinitialized issue in swift 5

[2019-04-08 09:24] nidsnitesh commented on #62
I am getting the same issue in obj-c bridge for react native. I was working earlier and i broke all of a sudden.
`RCT_EXPORT_METHOD(startPaymentFlow:(NSString *)paymentOptions){
    dispatch_async(dispatch_get_main_queue(), ^(void){
        UIViewController *topVC = [UIApplication topViewControllerWithController:[UIApplication sharedApplication].keyWindow.rootViewController];
        razorpay = [R

[2019-04-08 11:26] pradeepdaffodil commented on #59
I'm also facing the same issue with **razorpay-pod 1.1.1**

[2019-04-09 06:52] DominatorVbN commented on #62
I am having same issue in swift 5 razor-at team please respond @vyrazorpay @arjunnarain-rzrpay @pravinmehta-rzrpay .

[2019-04-10 06:59] aman-shuttl commented on #59
This particular issue will go away once you switch to razorpay-pod 1.1.1 or 1.1.0.

[2019-04-10 13:01] AbhinavArora95 commented on #58
Hi, the razorpay-pod was updated a few days back to 1.1.1 with Swift 5 compiled framework. Please update the pod.

[2019-04-10 13:01] #58 closed

[2019-04-10 13:03] AbhinavArora95 commented on #62
Hi, can you please let us know the Xcode version and the Razorpay framework version you are using.

[2019-04-10 13:05] AbhinavArora95 commented on #59
Please note that razorpay-pod 1.1.1 contains a framework compiled in Swift-5 for Xcode 10.2. In case you are using below Xcode 10.2, please use razorpay-pod 1.0.28 which has a framework compiled in Swift 4.2

[2019-04-10 15:50] DominatorVbN commented on #62
Xcode 10.2
Razorpay 1.1.1

[2019-04-10 20:35] AbhinavArora95 commented on #62
Can you please explain a little further about the issue ? Are you facing a crash or is it during compile time ? I know you have mentioned about "Swift deinitialized " but please help us with the exact log / error that you are facing ?

[2019-04-11 04:02] ashiqsulaiman93 commented on #62
@AbhinavArora95 I am using xcode 10.1 and razorpay v1.0.24. The app crashes when [razorpay open:options displayController:topVC]. The only info available on the log is "swift deinitialized". Is there anything else do you want me to check ?

[2019-04-11 05:34] sureshcapternal commented on #62
I'm getting an error for importing protocol and other Methods and Classes too. I tried both ways Manual and Pod.
I have imported
#import <Razorpay/Razorpay-Swift.h

Razorpay *razorpay;

Error:

[2019-04-11 05:39] DominatorVbN commented on #62
I am having the same issue as @ashiqsulaiman93

[2019-04-11 06:08] laralb commented on #62
hi this is my sample app link please can u check. https://www.dropbox.com/s/oirlovumhq9x2t8/RazorpayNewSDK.zip?dl=0

[2019-04-13 04:24] sivakumar-cf opened #63 "Xcode 10.2 error: The following binaries use incompatible versions of Swift"
Getting the following build error on XCode 10.2.
I am using razorpay-pod version 1.1.1.

[code]

[2019-04-15 04:33] ashiqsulaiman93 commented on #62
Did anybody find a solution to this?

[2019-04-15 08:58] AbhinavArora95 commented on #62
We are actively looking into the issue. @ashiqsulaiman93 Is your project in Objective-C or in Swift ?
@DominatorVbN Can you also please let me know the language of your project ?
@laralb We'll be looking into your project

[2019-04-15 09:06] ashiqsulaiman93 commented on #62
@AbhinavArora95 Our project is a mix of obj-c and swift. But i am trying to write a react-native bridge in obj-c. My implementation was working earlier, but it just broke all of a sudden.

[2019-04-15 11:49] DominatorVbN commented on #62
@AbhinavArora95 my whole app is written in swift 5

[2019-04-15 11:50] DominatorVbN commented on #62
There is this thing that razorpay working on swift 4 I mean sdk version 1.1.0 is working with swift 4.2 xcode 10.1 complier, but sdk version 1.1.1 is not working with compiler version swift 5.0 xcode 10.2

[2019-04-15 11:51] DominatorVbN commented on #62
I can share the whole project if u want as it is gonna open source

[2019-04-15 11:53] AbhinavArora95 commented on #62
@DominatorVbN The razorpay framework 1.1.0 and 1.1.1 are both compiled in Swift 5. They should both work on Xcode 10.2 and above

[2019-04-15 12:01] DominatorVbN commented on #62
But it is not

On Mon, 15 Apr, 2019, 5:23 PM AbhinavArora95, <notifications@github.com>
wrote:

[2019-04-15 12:04] DominatorVbN commented on #62
@AbhinavArora95 please go through my code I have added you as collaborator

[2019-04-17 10:54] GauravT9l commented on #63
Getting same issue as mentions above

[2019-04-17 10:57] GauravT9l commented on #31
After a year of generation this issue I am still getting this issue. Please resolve.

[2019-04-19 18:09] pronav commented on #63
Current version was compiled with Swift 5, is it not what you're using?

[2019-04-19 20:21] Kashif72 opened #64 "'Razorpay/Razorpay.h' file not found"
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x] I have cleaned my project , deleted derived data and rebuilt it.

## IDE Specs

## Retro Steps

## Screenshots

[2019-04-19 20:22] Kashif72 commented on #64
'Razorpay/Razorpay.h' file not found in bridging header file, I am using razorpay 1.1.2 version pod.

[2019-04-20 04:53] DominatorVbN commented on #62
hello any response??

[2019-04-20 10:14] sivakumar-cf commented on #63
Yes, I am using swift 5, compiler and i have checked the library version as well (1.1.1), which is bundled in the app frameworks.

[2019-04-23 07:56] laralb commented on #58
hi , i updated my pod now  razorpay version is 1.1.2  and Xcode version is
10.2.1 (10E1001) but still i get same issue "*RazorpayCheckoutVC.swift
deinitialized*". please give me proper solution for
this issue. every xcode update i got issue. i can't complete my project.

Xcode show this issue.

*2019-04-23 13:15:34.677110+0530 RazorpayNewSDK[2878:144187] [Client]
Remote object proxy returned error

[2019-04-25 05:48] laralb commented on #58
any update

On Tue, Apr 23, 2019 at 1:26 PM Paul Paul <paulpl855@gmail.com> wrote:

[2019-04-26 12:13] pronav commented on #64
Can you try importing `<Razorpay/Razorpay-Swift.h>` instead?
see: https://github.com/razorpay/razorpay-pod#note-2

[2019-04-29 11:42] isha04 commented on #62
@laralb call razorpay.open(options: yourOprtions, displayController: self)

[2019-04-29 11:54] isha04 commented on #55
@AbhinavArora95 I am also facing this error. As soon as i call razorpay.open(options, displayController: self), this error gets printed in the console each time
`/Users/n.ashashank/Desktop/Projects/Razorpay/razorpay-ios/RazorpayIOS/CheckoutOtpelf/Classes/InternalRazorpay.swift:["payment failed"]
`
Any solution to this?

[2019-04-29 12:10] DominatorVbN commented on #62
We are doing that

[2019-04-29 13:25] isha04 commented on #62
@DominatorVbN okay. Please update when done. My work depends on this.

[2019-05-01 06:03] DominatorVbN commented on #62
@isha04 I had used that function and now it's working correctly after updating to the latest version thanks for the help

[2019-05-06 10:37] Adaikalraj-Sakthivel commented on #62
Hi I'm using razorpay 1.1.2 and xCode 10.2. i'm also getting the same issue. Kindly help me to come out of this issue @DominatorVbN @AbhinavArora95

[2019-05-06 10:50] AbhinavArora95 commented on #62
@Adaikalraj-Sakthivel Please use the latest framework from [here] (https://razorpay.com/docs/ios/)

[2019-05-06 10:51] #62 closed

[2019-05-06 11:04] Adaikalraj-Sakthivel commented on #62
Hi @AbhinavArora95 when i tried to install latest framework this the error  shown. i had done pod repo update also still i cant install latest framework of Razorpay
![Screenshot 2019-05-06 at 4 33 30 PM](https://user-images.githubusercontent.com/47622279/57221402-be8fc880-701c-11e9-9dc6-34cf75feabb7.png)

[2019-05-28 10:17] rijaaz opened #65 "Module compiled with Swift 5.0 cannot be imported by the Swift 4.2.1 compiler"
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework

- [x] (https://github.com/razorpay/razorpay-pod/releases)

- [x] I have cleaned my project , deleted derived data and rebuilt it.

I am getting this compile time error when I

[2019-05-28 14:11] pronav commented on #65
Try version 1.0.28, as new version only works with xcode 10.2

[2019-05-29 03:51] pronav commented on #65
@rijaaz does downgrading resolve the issue?

[2019-05-29 03:53] pronav commented on #64
@Kashif72 has the issue been resolved?

[2019-05-29 03:57] pronav commented on #63
Closing as resolved elsewhere: https://github.com/razorpay/react-native-razorpay/issues/177

@GauravT9l feel free to reopen if you're still facing the problem.

[2019-05-29 03:57] #63 closed

[2019-05-29 09:45] jerrin15 commented on #58
still getting this issue "dyld: Library not loaded: @rpath/libswiftCore.dylib
  Referenced from: /Users/admin/Library/Developer/CoreSimulator/Devices/8A820EB0-8CAE-498D-A9AE-0DD6DD5E07DB/data/Containers/Bundle/Application/49A50F69-54DA-4E36-900C-436C9DBA969D/.../Frameworks/Razorpay.framework/Razorpay
  Reason: image not found"

Using Xcode 10.1, Objective-C Project,
Razor Pod version - 1.1.2

[2019-05-29 09:49] pronav commented on #58
With xcode10.1, razorpay-pod 1.0.28 will work

[2019-05-29 09:49] #65 closed

[2019-05-29 09:50] #64 closed

[2019-05-29 09:56] jerrin15 commented on #58
Just changed to '1.0.28' now, still doesn't work. It shows the same error.

[2019-05-29 09:59] pronav commented on #58
Let's have a remote session to debug, please add me on google hangouts: pranav@razorpay.com

[2019-05-29 10:16] jerrin15 commented on #58
It's ok I resolved it myself, Build Settings, `Always embed swift standard libraries` was NO, I changed it to YES.

[2019-06-03 11:48] ShreeshGarg commented on #55
Hi , I am still getting this error. I am using the latest framework though pod 'razorpay-pod', '1.1.2' .

Xcode : 10.2.1
iOS : 11.3.1
Porject is On Objective C and is Navigation based.

Error message on console : /Users/travis/build/razorpay/razorpay-ios/RazorpayIOS/CheckoutOtpelf/Classes/RazorpayCheckoutVC.swift deinitialized

Getting call back with "Unexpected error"

[2019-06-06 07:47] anshultiwari1993 commented on #62
The issue still persists in my project even after installing the latest framework

/Users/travis/build/razorpay/razorpay-ios/RazorpayIOS/CheckoutOtpelf/Classes/RazorpayCheckoutVC.swift deinitialized

[2019-06-08 12:42] Faiyyaz opened #66 "Error while creating archive"
<img width="1440" alt="Screenshot 2019-06-08 at 6 09 12 PM" src="https://user-images.githubusercontent.com/18116236/59147399-a85c9a00-8a18-11e9-8279-b26c26df8ffc.png">
- [ ] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [ ] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [ ] I am using the latest version of our framework (https:

[2019-06-10 03:37] pronav commented on #66
See following comments to solve the issue: https://github.com/razorpay/react-native-razorpay/issues/194#issuecomment-497368029

[2019-06-12 05:58] Dineshfluper commented on #50
I have the same issue but still it is not solved, Iam using ios 11.0 swift 4.2

[2019-06-12 06:07] Dineshfluper commented on #50
I have seen the integration video ,still not able to resolve it

[2019-06-12 06:19] pronav commented on #50
- Use version pod 1.0.28 with swift 4.2
- See this comment to solve the archiving issue: https://github.com/razorpay/react-native-razorpay/issues/194#issuecomment-497368029

[2019-06-15 07:21] anshultiwari1993 commented on #55
/Users/travis/build/razorpay/razorpay-ios/RazorpayIOS/CheckoutOtpelf/RazorpayCheckoutVC.swift deinitialized

Hey guys, if you are getting the above error, then try using a different merchant key. I was getting the error when I was using a test merchant key. When I replaced it with a release key, everything started working.

[2019-06-24 09:42] Rushi271193 commented on #38
Attempt to present <UINavigationController: 0x7f8c6390ae00>  on <UIViewController: 0x7f8c6341fe90> which is already presenting <RCTModalHostViewController: 0x7f8c6349b7a0>
/Users/travis/build/razorpay/razorpay-ios/RazorpayIOS/CheckoutOtpelf/Classes/RazorpayCheckoutVC.swift deinitialized

getting this issue for react native razorpay.  As you have mentioned there ways to solve it in native ios but h

[2019-06-25 10:11] OmarIbbu opened #67 "Ra"
Razor pay checkout page is not getting displayed. Giving this error /Users/travis/build/razorpay/razorpay-ios/RazorpayIOS/CheckoutOtpelf/Classes/RazorpayCheckoutVC.swift deinitialized

[2019-06-25 10:19] OmarIbbu commented on #62
have you got answer

[2019-06-27 08:28] poojab opened #68 "Permission denied"
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x] I have cleaned my project , deleted derived data and rebuilt it.

While initialising SDK getting permission denied er

[2019-07-23 14:11] dipesh1604 commented on #62
I just got the solution for the above issue and is working for me. I am working with _**Xcode 10.2**_ , _**Swift 5**_.
I have used [razorpay-pod](https://cocoapods.org/pods/razorpay-pod) and followed [ios-standard integration](https://razorpay.com/docs/payment-gateway/ios-integration/standard/).

Only need to change amount value grater than **100** in below example as it is mentioned that

`intern

[2019-07-25 10:50] mohsinalimat opened #69 "not getting response"
Hello,

I am not getting response when I click on success or failure.

/Users/travis/build/razorpay/razorpay-ios/RazorpayIOS/CheckoutOtpelf/RazorpayCheckoutVC.swift deinitialized

[2019-07-29 13:06] pawanline opened #70 "FYI : Use pod 'razorpay-pod', '1.0.26' with xcode 10.1 .Please specify pod release with swfit version ."

[2019-08-01 06:10] mohsinalimat opened #71 "Module compiled with Swift Error"
Hello,

Module compiled with Swift 5.0 cannot be imported by the Swift 5.1 compiler: /Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/x86_64.swiftmodule

???

[2019-08-07 06:15] pawanline commented on #71
Hello, any update on this?

[2019-08-07 06:46] Nautiyalsachin commented on #71
We haven't release Swift 5.1 support yet, because it's not has stable release yet. If you guys want we can provide you a pre-support build.

[2019-08-07 06:47] pawanline commented on #71
Yes, It would be really helpful for us.

[2019-08-07 06:50] pawanline commented on #71
How will you provide the pre-support build?.

[2019-08-07 07:32] Nautiyalsachin commented on #71
Here, you can use this line in your podfile.
[code]
so that you can install specific Swift 5.1 there, this is for testing purpose you can release it whenever Xcode 11 releases.

[2019-08-07 07:33] Nautiyalsachin commented on #71
@pawanline can you give me some details about the issue?

[2019-08-07 08:13] pawanline commented on #71
yes sure, though this issue is not related to razorpay.Its about scroll view delegate not called with release build and text field did begin editing not fired.

[2019-08-08 11:57] commando24 opened #72 "Razorpay custom SDK support for swift 5 and Xcode 10.2.1"
I am integrating Razorpay custom SDK with swift 5 and Xcode 10.2.1. Then i downgraded my swift version to 4.2 but still its throwing same error.

## IDE Specs
Xcode version - 10.2.1
Razerpay Custom SDK version - 1.1.3

I have cleaned my project , deleted derived data and rebuilt it. But still its throwing error.

![image](https://user-images.githubusercontent.com/15805487/62701380-c2f3c500-ba01-11

[2019-08-08 12:31] mohsinalimat commented on #69
?

[2019-08-08 13:24] Nautiyalsachin commented on #72
Try using -
[code]

this pod version is for Swift 4.2 support.

[2019-08-21 09:23] shrykg commented on #55
Facing the same issue even using the correct merchant key, the payment controller loads for sometime then dismisses and error shows in alert view - Payment failed: Payment Failed - Unexpected Error. Was anybody able to resolve this?

[2019-08-21 11:51] isha04 commented on #55
Issue in my case turned out be that i was sending amount param in wrong format. I was sending 1,000, whereas it expects 1000.0.

[2019-08-22 05:57] raghurammahathi opened #73 "Build success launch screen and stuck throwing following error"
- [ ] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [ ] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [ ] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [ ] I have cleaned my project , deleted derived data and rebuilt it.

## IDE Specs
 swift5.0 compiled version

[2019-08-22 05:58] raghurammahathi commented on #73
dyld: Symbol not found: _OBJC_CLASS_$__TtCs12_SwiftObject
  Referenced from: /Users/raghurammahathi/Library/Developer/CoreSimulator/Devices/88AC5A7C-8B5B-4BD8-B690-3A14DBFC283B/data/Containers/Bundle/Application/14D0ED4A-6AC4-4BFB-B834-D113D533B076//Frameworks/Razorpay.framework/Razorpay
  Expected in: /Users/raghurammahathi/Library/Developer/CoreSimulator/Devices/88AC5A7C-8B5B-4BD8-B690-3A14DBFC2

[2019-08-22 06:29] shrykg commented on #55
Is it necessary to integrate the orders api for single orders?

[2019-09-03 11:06] ashish-meesho opened #74 "ITMS-90809: Deprecated API Usage UIWebView"
- [ ] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [ ] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [ ] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [ ] I have cleaned my project , deleted derived data and rebuilt it.

## IDE Specs

## Retro Steps

## Screenshots

While

[2019-09-23 17:00] Praphin opened #75 "Xcode 11 Razor pay error while archiving - URGENT!"
<img width="751" alt="Screenshot 2019-09-23 at 10 29 42 PM" src="https://user-images.githubusercontent.com/6714897/65446303-b01e3e00-de51-11e9-8ae4-ce1ee40020d5.png">

[2019-09-23 17:12] Praphin commented on #71
When you guys are going to release the new version?

[2019-09-23 19:08] Pawanpreet93 commented on #75
Facing the same issue.

Logs- IDEDistributionItem init <DVTFilePath:0x7ffd55a36db0:'/Users/pawanpreetsingh/Library/Developer/Xcode/Archives/2019-09-24/Zolo-iOS 24-09-19, 12.27 AM.xcarchive/Products/Applications/Zolo-iOS.app/Frameworks/Razorpay.framework/Frameworks/Pods_CheckoutOtpelf.framework'>

[2019-09-24 01:35] KarthickBE commented on #75
Error on archive the iOS Project.
Found an unexpected Mach-O header code: 0x72613c21
![Screenshot 2019-09-24 at 7 04 18 AM](https://user-images.githubusercontent.com/28004704/65474475-a02a4c80-de99-11e9-952f-45f535ef9d09.png)

[2019-09-24 06:50] aravindcraj commented on #75
Hey @pronav, Can you help us solving this issue?

[2019-09-24 08:44] Nautiyalsachin commented on #75
Can you try using
[code]

[2019-09-24 10:04] karthick-ck-ios commented on #75
@Nautiyalsachin  Still I am facing the same issue.

[2019-09-24 10:50] Nautiyalsachin commented on #75
@karthick-ck-ios  have you updated your pods ?

For updating pods run - ```pod update```

[2019-09-24 11:18] karthick-ck-ios commented on #75
Could not find a storyboard named 'Checkout' in bundle NSBundle

[2019-09-24 12:38] karthick-ck-ios commented on #75
@Nautiyalsachin Standard Integration also having the same error.
Found an unexpected Mach-O header code: 0x72613c21

[2019-09-24 12:57] Nautiyalsachin commented on #75
Have fixed issue with this pod

[code]

Also do update pod afterwards, ``` pod update```

Let me know if it works for you.

[2019-09-24 13:42] karthick-ck-ios commented on #75
@Nautiyalsachin  Working fine, Thanks.

[2019-09-25 12:50] prashanth-icliniq opened #77 "Error On Xcode 11.1"
Module compiled with Swift 5.0 cannot be imported by the Swift 5.1 compiler: /Users/XXXXXX/Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/arm64.swiftmodule

[2019-09-26 05:43] Praphin commented on #75
It Worked. Thanks

[2019-09-26 05:43] #75 closed

[2019-09-26 05:44] Praphin commented on #77
try this
**pod 'razorpay-pod', :git => 'https://github.com/razorpay/razorpay-pod.git', :branch => '0x72613c21'**

[2019-09-26 13:13] kapilSoni101 commented on #64
@pronav: thanks its working....

[2019-09-27 06:47] prashanth-icliniq commented on #77
ok Sir i try and Message you

Prashanth T D
IOS Developer
www.icliniq.com <https://www.icliniq.com/?utm_campaign=mail_sign_internal>

On Thu, Sep 26, 2019 at 11:14 AM Praphin SP <notifications@github.com>
wrote:

[2019-09-27 07:17] prashanth-icliniq commented on #77
This on not working still loading am waiting Half hour

Prashanth T D
IOS Developer
www.icliniq.com <https://www.icliniq.com/?utm_campaign=mail_sign_internal>

On Thu, Sep 26, 2019 at 11:14 AM Praphin SP <notifications@github.com>
wrote:

[2019-09-27 07:28] prashanth-icliniq commented on #77
Hello sir,
 now its working fine

Thanks

Prashanth T D
IOS Developer
www.icliniq.com <https://www.icliniq.com/?utm_campaign=mail_sign_internal>

On Fri, Sep 27, 2019 at 12:46 PM Prashanth T D <prashanth@icliniq.com>
wrote:

[2019-09-27 07:29] #77 closed

[2019-09-28 03:47] O-mkar opened #78 "Crash when razorpay.open second time."
- [X] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [X] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [X] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [X] I have cleaned my project , deleted derived data and rebuilt it.

the second time when I run function **razorpay.open

[2019-09-30 07:10] mohsinalimat commented on #78
Remove order_id from main dict and put below code.

let options: [String:Any] = [
                    "amount": "100", //This is in currency subunits. 100 = 100 paise= INR 1.
                    "currency": "INR",//We support more that 92 international currencies.
                    "description": "purchase description",
                    "image": "https://url-to-image.png",

[2019-10-01 03:37] O-mkar commented on #78
Still Crashes, Its always the second time

[2019-10-01 03:57] mohsinalimat commented on #78
[[1fqm6s]]Mohsinali Matiya sent you an Encrypted Message on Spike

[[[1fqm6s]]View Message on Spike >](https://gethop.com/secure/openapp/?mid=c-b6be-k17b8uli-kpnt0w)

[[1fqm6s]](https://gethop.com/secure/openapp/?mid=c-b6be-k17b8uli-kpnt0w)

[2019-10-04 10:45] aksh1995 opened #80 "swift 5 support after updating the pod I am facing these issues"
![Screenshot 2019-10-04 at 4 11 22 PM](https://user-images.githubusercontent.com/56014243/66201739-a0102500-e6c1-11e9-8c85-2f230fe27e6e.png)
- [ ] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [ ] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [ ] I am using the latest version of our framework (https://github.com/razorpay/razor

[2019-10-04 11:01] aksh1995 commented on #80
sorry didn't see the release of newer documentation

[2019-10-04 11:01] #80 closed

[2019-10-10 08:54] iCoderzDev opened #81 "Razorpay custom SDK not support in Xcode 11"
I am integrating Razorpay custom SDK in swift 5 and Xcode  11. But showing error I have attach screenshots.

## IDE Specs
Razorpay Custom UI 1.3.0
Xcode : 11
Swift : 5

## Screenshots
![Screenshot 2019-10-10 at 2 21 29 PM](https://user-images.githubusercontent.com/26161402/66553739-4ac48f80-eb69-11e9-8055-f0bc38877bfd.png)

[2019-10-10 09:30] Nautiyalsachin commented on #81
@iCoderzDev For swift 5 support use,
[code]

[2019-10-10 10:14] iCoderzDev commented on #81
@Nautiyalsachin Not working facing same error.

![Screenshot 2019-10-10 at 3 44 19 PM](https://user-images.githubusercontent.com/26161402/66560347-da237000-eb74-11e9-853d-beb2f3ec20d8.png)

[2019-10-10 10:37] Nautiyalsachin commented on #81
@iCoderzDev  try for
[code]

[2019-10-10 10:58] iCoderzDev commented on #81
@Nautiyalsachin  Not working

![Screenshot 2019-10-10 at 4 28 11 PM](https://user-images.githubusercontent.com/26161402/66563249-06da8600-eb7b-11e9-8a04-8565ecbf0966.png)

[2019-10-10 11:12] Nautiyalsachin commented on #81
What error are you getting now ?

[2019-10-10 11:17] iCoderzDev commented on #81
Same error.

[2019-10-10 11:51] Nautiyalsachin commented on #81
@iCoderzDev  Razorpay-Pod 1.1.1 supports Swift 5.0 as I can see it in **Razorpay-Swift.h** inside Razorpay.framework. Also please try to change the current language to Swift 5.1 from Build Settings as Xcode 11 have Swift 5.1 by default.

[2019-10-11 07:06] shirishbankar1 commented on #71
My Swift Version is set to 5.0 everywhere still I am getting this error, why ? I have installed 1.1.2 pod.

[2019-10-11 07:16] Nautiyalsachin commented on #71
Hi, for Swift 5.0 use ```pod 'razorpay-pod', '1.1.1'```

[2019-10-11 08:19] shirishbankar1 commented on #71
@Nautiyalsachin  Tried that too(pod 'razorpay-pod', '1.1.1'). Still gives error.
`Module compiled with Swift 5.0 cannot be imported by the Swift 5.1 compiler: /Users/Documents/ProjectName/Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/arm64.swiftmodule`

[2019-10-11 09:11] Nautiyalsachin commented on #71
@shirishbankar1, as this error is saying you are using Swift 5.1 and you have to use Swift 5.1 pod
that is - ```pod 'razorpay-pod'```
So, try to upgrade your pod to the current one.
Let me know if the issue still persist.

[2019-10-11 09:24] krunalIndianic commented on #41
This issue might be because you are trying for test payment, you need to create real time order id and use that

use below curl with your curl  YOUR_KEY & YOUR_SECRET in your post man and use response's id as order_id in payment method
-----------
curl -u YOUR_KEY:YOUR_SECRET \
-X POST https://api.razorpay.com/v1/orders \
-H "Content-Type: application/json" \
-d '{
    "amount": "50000",
    "curr

[2019-10-11 11:11] Nautiyalsachin commented on #71
try updating your whole code base to Swift 5.1

[2019-10-14 05:29] aksh1995 opened #82 "RazorpayCheckoutWebView deinitialized Xcode 11"
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x] I have cleaned my project , deleted derived data and rebuilt it.

I have upgraded to all the latest version of Xcode

[2019-10-14 05:50] Nautiyalsachin commented on #82
Can you give me more details :-
1. From where are you executing **razorpay.open(options)**? If it is from **ViewDidLoad()** then change it to **ViewDidAppear()**. else please give me more details about how you are trying to present it.
2. Also include which pod version are you using?

[2019-10-14 05:56] aksh1995 commented on #82
hey, I am using Razorpay Standard SDK 1.2.1
and I tried in both ViewDidAppear() and ViewDidLoad()
I used web view to open and the view opens and closes and comes back to older vc where we ask for users upi id

[2019-10-14 06:12] aksh1995 commented on #82
["currency": "INR", "amount": 100, "order_id": "order_DTqYDarwWXEMzH", "email": "****@gmail.com", "contact": "904*******", "vpa": "**********", "method": "upi"]

this is the options attached in the razorpay.open function

[2019-10-14 06:25] Nautiyalsachin commented on #82
Hi @aksh1995, Can you create a sample app and share the Github url here? I am still unable to figure out the issue.

[2019-10-14 06:48] iCoderzDev commented on #81
Hello. @Nautiyalsachin

I am install new Razorpay Framework "Razorpay Custom UI 1.3.1" and the previous issues is solved thank you. But I am facing new error  "Could not find module 'Razorpay' for target 'x86_64-apple-ios-simulator'; found: arm64, armv7-apple-ios, arm64-apple-ios, arm, armv7"  this error is only showing to run my project in simulato. it's working in device perfectly.

 I am attach

[2019-10-14 07:02] aksh1995 commented on #82
[test.zip](https://github.com/razorpay/razorpay-pod/files/3723290/test.zip)
I have uploaded here reproducing the error

[2019-10-14 07:10] aksh1995 commented on #82
I tried using             razorpay.open(options, display: self)

this was the error log------

/Users/sachinnautiyal/Documents/Razorpay/razorpay-ios/RazorpayIOS/CheckoutOtpelf/Classes/InternalRazorpay.swift:["payment failed"]
/Users/sachinnautiyal/Documents/Razorpay/razorpay-ios/RazorpayIOS/CheckoutOtpelf/Classes/RazorpayCheckoutVC.swift deinitialized
/Users/sachinnautiyal/Documents/Razorpay/razor

[2019-10-14 07:24] Nautiyalsachin commented on #81
You are using a run script which is removing iOS Simulator architecture, please comment it and run your project, also you have to uncomment it before submitting it to the App Store.

[2019-10-14 09:27] Nautiyalsachin commented on #82
Hi, there are some things which I've noticed that doesn't look right: -

1. Options are looked as you are using Custom SDK not the Standard SDK, please verify your options again.

2. Remove WebKit from your code as its only applicable for Custom SDK (You are using pods and pods are available only for Standard SDK). refer the Razorpay iOS documentation (https://razorpay.com/docs/payment-gateway/ios

[2019-10-14 09:41] iCoderzDev commented on #81
no I am not using any run script.

and which run scrip are add to uploading Time
https://stackoverflow.com/questions/42641806/check-and-remove-unsupported-architecture-x86-64-i386-in-ipa-archive

[2019-10-14 12:54] aksh1995 commented on #82
hey sorry for the inconvenience I should have followed with standard sdk now when I do UPI collect request it give paymentMode is empty error

[2019-10-15 04:23] aksh1995 commented on #82
thanks for your help solved it!!

[2019-10-15 04:23] #82 closed

[2019-10-15 04:26] aksh1995 opened #83 "Razorpay UPI collect request custom sdk"
![Screenshot 2019-10-15 at 10 39 28 AM](https://user-images.githubusercontent.com/56014243/66801908-597bbf80-ef38-11e9-8d61-afb8ac8a9b35.png)
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razo

[2019-10-15 05:25] aksh1995 commented on #83
and I couldn't find any payment mode in documentation

[2019-10-15 07:05] aksh1995 commented on #83
this is delaying our update can u help out asap!

[2019-10-15 07:06] iCoderzDev commented on #81
Hello. @Nautiyalsachin

I am install new Razorpay Framework "Razorpay Custom UI 1.3.1"  and I am run app in device so facing this error " dyld: Library not loaded: @rpath/Razorpay.framework/Razorpay "  Reason: image not found. and app is crash.

[2019-10-15 07:32] manoj-bht commented on #73
I am also having the same issue with latest Razorpay Standard SDK 1.2.1 and Swift 5.0.1

dyld: Symbol not found: _OBJC_CLASS_$__TtCs12_SwiftObject
  Referenced from: /Users/apple/Library/Developer/CoreSimulator/Devices/DDDD929D-94E9-49DE-8A15-A117DE239A1A/data/Containers/Bundle/Application/E04C3C7E-AD0B-4167-8F8A-8E3A3C46A2A9/Wealth Status.app/Frameworks/Razorpay.framework/Razorpay
  Expected in:

[2019-10-15 10:54] Nautiyalsachin commented on #81
Try downloading the new Custom UI 1.3.2 SDK. Also change embed to "Embed & Sign" in General.

[2019-10-15 12:04] iCoderzDev commented on #81
Thank you @Nautiyalsachin it's working perfectly run. but still I am run in simulator then I am facing this error. "Could not find module 'Razorpay' for target 'x86_64-apple-ios-simulator'; found: arm64, armv7-apple-ios, arm64-apple-ios, arm, armv7"

[2019-10-18 07:42] AkshayNG opened #84 "RazorpayPaymentCompletionProtocol delegate not called"
Hi, I'm using RazorPay version 1.1.2 with cocoapods on Xcode 10.3.

The Code:

[code]

I'm using test API key. The issue is in checkout, on clicking Success Or Error button the form is getting dismissed but the delegate functions are not being called. Also when we simply close, it dismisses the form/controller but the func onPaymentError not called at all. Whats going wrong with delegates ?

**UPD

[2019-10-18 13:45] AkshayNG commented on #84
I've managed to get this work with the help of UIViewController extension:

[2019-10-18 13:45] #84 closed

[2019-10-21 05:09] #81 closed

[2019-10-31 18:01] Neeraj204 commented on #31
Is this solved? I am still getting error

Tried using following pod:

`pod 'razorpay-pod', '~> 1.0.24'`
`pod 'razorpay-pod', '~> 1.0.26'`
`pod 'razorpay-pod'`

[2019-11-01 17:52] Neeraj204 commented on #42
I am getting the same error. @Abishek10 would you share your how it worked for you? Here is what I tried. Hide the navigation bar before opening its showing checkout page and then come back to my app.
[code]

[2019-11-02 08:00] Neeraj204 commented on #84
@AkshayNG I am also using the extension still not getting called.

[code]
Any idea or help you can provide?

[2019-11-02 08:08] Nautiyalsachin commented on #84
@Neeraj204, please verify your passed parameters again. Also please verify your passing parameters.

[2019-11-02 08:21] Neeraj204 commented on #84
@Nautiyalsachin All the parameters are ok it is problem of RazorpayPaymentCompletionProtocol which not being called with extension.

[2019-11-04 09:19] AkshayNG commented on #84
@Neeraj204 Below is the extension I've implemented, working fine for me:

[code]
So you can call purchaseUsingRazorPay() from any viewController.

[2019-11-05 06:17] Coppercodes1 commented on #75
I am getting following error and pod is not getting installed:
CocoaPods could not find compatible versions for pod "razorpay-pod":
  In Podfile:
    razorpay-pod (from `https://github.com/razorpay/razorpay-pod.git`, branch `swift5.1`)

Specs satisfying the `razorpay-pod (from `https://github.com/razorpay/razorpay-pod.git`, branch `swift5.1`)` dependency were found, but they required a higher mini

[2019-11-09 04:59] kundanlal555 commented on #42
enter amount  more than 100 paise

 let razorpay = Razorpay.initWithKey("rzp_live_ILgsfZCZoFIKMb", andDelegate: self)

        let options = [
                   "amount" : "2000" // paise 2000 it means  Rupees 20
               ]
               razorpay.open(options)
        razorpay.setExternalWalletSelectionDelegate(self)

[2019-11-09 05:00] kundanlal555 commented on #42
enter amount more than 100 paise

let razorpay = Razorpay.initWithKey(PUBLIC_KEY_ID, andDelegate: self)

    let options = [
               "amount" : "2000" // paise 2000 it means  Rupees 20
           ]
           razorpay.open(options)
    razorpay.setExternalWalletSelectionDelegate(self)

[2019-11-09 05:01] kundanlal555 commented on #42
enter amount more than 100 paise

let razorpay = Razorpay.initWithKey(PUBLIC_KEY_ID, andDelegate: self)

let options = [
           "amount" : "2000" // paise 2000 it means  Rupees 20
       ]
       razorpay.open(options)

[2019-11-11 13:29] aksh1995 commented on #83
hey I got the same error in the device iPhone XR running with iOS version 13.1.2

the order id was order_Df2ZDBm57oiF6P

what is causing this error

the user is not able to make payment for past couple of weeks

[2019-11-11 13:31] aksh1995 commented on #82
hey I got the same error in the device iPhone XR running with iOS version
13.1.2

the order id was order_Df2ZDBm57oiF6P

what is causing this error????

the user is not able to make payment for past couple of weeks

On Mon, Oct 14, 2019 at 2:57 PM Sachin Nautiyal <notifications@github.com>
wrote:

[2019-11-12 05:07] Saikumar-Reddy commented on #56
Guys could you find any solution for this issue

[2019-11-12 06:07] Nautiyalsachin commented on #83
Please check your order id. You can verify this without sending order id.

[2019-11-12 07:00] aksh1995 commented on #83
Hey ,the same code works for other mobiles and in dashboard it is showing
that the payment failed and error "payment mode cannot be empty",
but the same method used for other users and device is still working fine

and another case when i tried doing an upi collect request first time it
failed and then i tried twice i was able to pay and this was live version
of the app and the codes were not chan

[2019-11-12 11:34] vinny3273 commented on #56
still not resolved. xcode gives me this error.
../ios/Pods/razorpay-pod/Pod/Razorpay.framework/Razorpay compiled with older version of Swift language (4.1/4.2) than previous files (5 or later)

[2019-11-12 11:56] Nautiyalsachin commented on #56
Please follow this table for finding respected versions - https://razorpay.com/docs/payment-gateway/ios-integration/standard/

[2019-11-13 05:08] Saikumar-Reddy commented on #56
I already tried all the standard versions from the given table, but still getting the same error 😟. I tried both pods install and adding the framework manually to the project.

[2019-11-14 13:14] vinny3273 commented on #56
@Nautiyalsachin i did install for Objective-C and removed razorpay from Podfile. its working now. thanks
xcode - 11.2.1
react native - 0.60.4
react-native-razorpay - 2.1.30

[2019-11-15 18:56] cullsin opened #85 "white blank screen : swift 5.1 | pod 'razorpay-pod' | "react-native-razorpay": "^2.1.31""
- [ ] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [ ] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [ ] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [ ] I have cleaned my project , deleted derived data and rebuilt it.

after I installed and integrated with pod. I am get

[2019-11-21 12:55] kingglov opened #86 "Module compiled with Swift 5.0 cannot be imported by the Swift 5.1.2 compiler: /Users/sailaja/Desktop/Eemos/Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/arm64.swiftmodule"
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x] I have cleaned my project , deleted derived data and rebuilt it.

Module compiled with Swift 5.0 cannot be imported b

[2019-11-21 12:56] kingglov commented on #86
error while importing to viewController

Module compiled with Swift 5.0 cannot be imported by the Swift 5.1.2 compiler: /Users/sailaja/Desktop/Eemos/Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/arm64.swiftmodule

[2019-11-21 13:02] kingglov commented on #86
i've made it by replacing  this pod 'razorpay-pod','~> 1.1.1' with pod 'razorpay-pod'

[2019-11-21 13:02] #86 closed

[2019-12-05 07:21] nikhil191090 opened #87 "error: The following binaries use incompatible versions of Swift:"
error: The following binaries use incompatible versions of Swift:
/Users/XXX/Library/Developer/Xcode/DerivedData/XXXX-faupqapevobuuzexpujrjtfkhuio/Build/Products/Debug-iphoneos/XXXX.app/Frameworks/Razorpay.framework/Razorpay

i am getting this issue i am using xcode 11.2.1 with swift 4.2 and i installed pod 'razorpay-pod', '~> 1.0.26'

Please Help

[2019-12-06 17:35] maskedTitan commented on #87
Hi Nikhil,

You seem to be using an older version of our pod. Please install the latest pod of Razorpay v1.1.4 from [here](https://cocoapods.org/pods/razorpay-pod)

[2019-12-07 02:11] VivekDosaya commented on #55
Did you find a solution to this?

[2019-12-09 06:52] nikhil191090 commented on #87
@maskedTitan Thank you for your help. It's working !!

[2019-12-09 06:52] #87 closed

[2019-12-18 21:19] DhrubojyotiBis1 commented on #38
I am facing this problem now.

[2019-12-19 05:35] mbhansali commented on #75
Kindly update Razorpay for XCode 11 on Cococapods.
On Cocoapods still have old version which only support xcode 10.2.

[2019-12-20 03:16] maskedTitan commented on #75
@mbhansali You can visit: https://cocoapods.org/pods/razorpay-pod to find the latest version of our pod v1.1.4 that is compatible with Xcode 11.

[2019-12-20 05:59] kingglov commented on #38
For me its worked and my scenario is ,
![Screenshot 2019-12-20 at 11 09 00](https://user-images.githubusercontent.com/50819408/71233554-f7667e80-231b-11ea-8cf1-a13782da2ce9.png)

first i have a login view Controller ,  after login or skipping that it takes to a tabbar controller . after that i've selected a product and try to present the rozarpay but its showing the error that not in window hierar

[2020-01-14 04:29] sejalthesiya commented on #55
anyone can help me with this issue?

[2020-01-14 04:38] sejalthesiya commented on #55
remove just order_id from request

[2020-01-16 03:00] Manoj741 commented on #50
<img width="1168" alt="Screenshot 2020-01-16 at 8 22 15 AM" src="https://user-images.githubusercontent.com/28729128/72489541-601d1a00-383a-11ea-8b87-3692c5439a00.png">
I am using Xcode 10.3 and facing issue while exporting the archive with adhoc mode. please help me.

[2020-02-17 09:39] ayushP2400 opened #90 "Razor pay ios implementation issue"
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x] I am gone through the FAQ's (https://github.com/razorpay/razorpay-pod/wiki/FAQ's)
- [x] I have cleaned my project , d

[2020-02-18 07:52] Nautiyalsachin commented on #90
Hi @ayushP2400, can you try it without an order id? If it works without order id then check your order id logic again.  Also validate your Razorpay key, is that correct or not.

[2020-02-19 06:40] Nautiyalsachin commented on #71
Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-02-19 06:40] #71 closed

[2020-03-16 09:04] Nautiyalsachin commented on #90
Closing this issue due to the time elapsed.

Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-03-16 09:04] #90 closed

[2020-03-27 11:15] abhuzz opened #91 "Support Swift 5.2 Compiler"
- [✔️] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [✔️] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [✔️] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [✔️] I am gone through the FAQ's (https://github.com/razorpay/razorpay-pod/wiki/FAQ's)
- [✔️] I have cleaned my projec

[2020-03-29 11:08] kevintorch commented on #91
I have the same issue.

[2020-03-30 06:18] kevintorch commented on #91
Sir, Did you find any solution related to this?

[2020-03-30 06:21] kevintorch commented on #91
@abhuzz Sir, did you find any solution related to this?

[2020-03-30 06:53] Nautiyalsachin commented on #91
Hi Everyone, we are working on releasing an updated version of the pod in the next couple of days, the new changes are in testing right now.

I'll inform you guys As soon as the changes are live.

[2020-03-30 13:38] Nautiyalsachin commented on #91
Can you guys use `pod 'razorpay-pod', :git => 'https://github.com/razorpay/razorpay-pod.git', :branch => 'Swift_5.2'`

[2020-03-31 06:55] abhuzz commented on #91
@Nautiyalsachin Sir, Thank You for the kind response.
Now, the problem is "**Use of undeclared type 'Razorpay'** " for the following sentence : -
`var razorpay: Razorpay!`
- I faced this issue in the new branch 'swift_5.2'
![image](https://user-images.githubusercontent.com/6681394/77992739-4ae95f00-7344-11ea-9ed7-3774a249aba9.png)

Implemented with branch => 'swift_5.2'
![image](https://user-image

[2020-03-31 07:01] kevintorch commented on #91
@abhuzz it's **RazorpayCheckout** Now not **Razorpay** from now on.

[2020-03-31 07:02] kevintorch commented on #91
@abhuzz Change the type from **Razorpay** to **RazorpayCheckout**

[2020-03-31 07:05] abhuzz commented on #91
@kevintorch  Thanks.

[2020-03-31 07:05] #91 closed

[2020-03-31 07:20] Nautiyalsachin commented on #91
Great! You guys have figured it out already. 🙂 Can you try to archive it and let me know that it's working fine for you or not? I'll then try to release it by today itself?

If you don't want to change anything in your code you can use below code -

For swift `// typealias Razorpay = RazorpayCheckout`
For Objective C `//- typedef RazorpayCheckout Razorpay;`

[2020-04-11 08:28] harshithbelagur opened #94 "Attempt to present <UINavigationController: 0x7fc4120e8000> on <x.Starter: 0x7fc411a5d240> which is already presenting <x.DonorStart: 0x7fc41041e980>"."
- [Yes] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [Yes ] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [ Yes] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [ Yes] I am gone through the FAQ's (https://github.com/razorpay/razorpay-pod/wiki/FAQ's)
- [ Yes] I have cleaned

[2020-04-13 05:44] Nautiyalsachin commented on #94
Hi @harshithbelagur, I think you are trying to execute `rzp.open(options)` from `viewDidLoad()`.
Try executing it from `viewWillAppear(_ animated: Bool)`. Let me know if it works for you.

[2020-04-18 15:04] Nautiyalsachin commented on #94
Closing issue due to inactivity, feel free to reopen the issue. Thank you!

[2020-04-18 15:04] #94 closed

[2020-05-10 21:03] shashankk7 opened #95 "[Google Pay UPI Integration] How to integrate Google Pay with Razorpay custom iOS SDK?"
Hi, I was integrating `Razorpay custom iOS SDK` in my app, and I cannot find any way to integrate `Google Pay` as a mode of UPI payment. There are docs on integration with desktop, chrome, and Android but none is there for iOS. Is there any way by which I can let my user select Google pay option in my app (without asking for VPA), and then Razorpay handles the payment?

[2020-05-11 07:48] #95 closed

[2020-05-15 05:14] Nautiyalsachin commented on #85
Please update your react-native-razorpay plugin, it's been fixed. Also, update podfile if you haven't updated it yet.

Feel free to open this issue.

[2020-05-15 05:14] #85 closed

[2020-06-15 14:43] PatilAbhi commented on #72
Module compiled with Swift 4.2.1 cannot be imported by the Swift 5.1.3 compiler.

I am Getting this Error

Xcode Version - 11.3.1
RazorPay SDK Version - 1.0.28
Selected Swift Version - Swift 5

Still Not able to Solve the Issue

[2020-06-15 14:44] PatilAbhi commented on #86
Module compiled with Swift 4.2.1 cannot be imported by the Swift 5.1.3 compiler.

I am Getting this Error

Xcode Version - 11.3.1
RazorPay SDK Version - 1.0.28
Selected Swift Version - Swift 5

Still Not able to Solve the Issue

[2020-06-16 06:21] Nautiyalsachin commented on #72
@PatilAbhi : Try to update your Razorpay pod, by running `pod update` in your project directory. The latest pod version is `1.1.5`. If you have hardcoded it then try to update that too.

Let me know if it works for you.

[2020-06-16 14:46] PatilAbhi commented on #72
@Nautiyalsachin Thank You for Quick Response. It Worked.
My Mistake was i was doing pod install. but somehow it was not installing the pod for 1.1.5 version last version was 1.1.4 it was installing .but it was not working as well. I have the way you explained and it worked Properly.

[2020-06-17 07:07] Nautiyalsachin commented on #72
@PatilAbhi, I am glad to know that it helped 🙂. Closing the issue now.

[2020-06-17 07:07] #72 closed

[2020-07-07 09:28] patelvivek9115 opened #98 "Use of undeclared type 'Razorrpay'"
## Description

I have a project with integration of Razorpay on razorpay-pod (1.1.1)  without any issue (last time I checked in Feb 2020), now today I need to make some changes and provide an updated build to my client but suddenly I am getting an error saying Use of undeclared type 'Razorpay'. So I updated the pod and the latest one I installed is razorpay-pod (1.1.5) but still getting the same

[2020-07-07 10:28] Nautiyalsachin commented on #98
@patelvivek9115 : Where is the Github link?

[2020-07-07 10:36] patelvivek9115 commented on #98
@Nautiyalsachin : Which Github link you are talking about?

[2020-07-09 06:44] ambujap94 commented on #98
Please use
var razorpay: Razorpay!
instead of
var razorpay: Razorrpay!

[2020-07-09 07:15] patelvivek9115 commented on #98
I have tried this "var razorpay: Razorpay! " but it does not work for me but when I changed to
 var razorpay: RazorpayCheckout!
It is working now

[2020-07-13 05:22] #98 closed

[2020-07-21 17:40] nitin-agam opened #99 "Module compiled with Swift 5.0 cannot be imported by the Swift 5.2.4 compiler"
I'm getting this error while compiling the code:

Module compiled with Swift 5.0 cannot be imported by the Swift 5.2.4 compiler

Using
Xcode: 11.5
Swift Version: 5

I've tried using pod with these versions
pod 'razorpay-pod', '~> 1.1.5'
pod 'razorpay-pod', '~> 1.1.1'

Please help me.

[2020-07-22 05:27] ambujap94 commented on #99
Please use as
if Swift 5.1+

pod 'razorpay-pod', '~> 1.1.5'

if Swift 5.0

pod 'razorpay-pod', '~> 1.1.1'

You can refer our [integration document](https://razorpay.com/docs/payment-gateway/ios-integration/standard/) for further clarification
[CocoaPods document](https://cocoapods.org/pods/razorpay-pod) for reference.

[2020-07-24 07:50] nitin-agam commented on #99
I have already tried both the version. But still facing the same issue.

[2020-07-27 16:06] Mahesh160393 commented on #99
Xcode Version : 11.6
Swift Version : 5

Same issue.

[2020-07-28 06:55] Nautiyalsachin commented on #99
@Mahesh160393, Can you open **podfile.lock** and check the current **razorpay-pod** version and paste it here. It should be **more than 1.1.4.** If it's not then please use `pod update razorpay-pod`. This will only update the razorpay-pod to the latest version.

[2020-07-28 08:01] Mahesh160393 commented on #99
Thank you for your response @Nautiyalsachin

Here is my pod lock version :

In PODS :   - razorpay-pod (1.1.5)
In DEPENDENCIES:   - razorpay-pod

[2020-07-28 10:09] jitrani commented on #50
@Manoj741 did you got any solution i also got same error.

[2020-07-28 11:15] Nautiyalsachin commented on #50
@jitrani: Which Swift version are you using in your project? Please use the specific version of the frameworks from this [doc.](https://razorpay.com/docs/payment-gateway/ios-integration/standard)

[2020-07-28 15:05] jitrani commented on #50
@Manoj741 Apple Swift version 5.0.1 (swiftlang-1001.0.82.4 clang-1001.0.46.5)  i am using this one.

[2020-08-08 09:51] DeveloperAsim0 commented on #38
Still in 2020 getting the same issue with latest version. And cannot find any solution yet.
please help me... I searched the documentation but I couldn't find it

Thanks in advanced

[2020-08-18 08:09] cocoadogs opened #102 "Cannot pull the keyboard panel"
## Description

when I call razopay sdk open in my controller, it can't pull up the keyboard panel unless I click the Country input button.But it isn't always be that, sometimes it's ok but it often so bad

## Razorpay pod Version :

1.1.6

## Xcode Version :
Xcode 11.6 (11E708)

### What you did:

self.razorpay = [RazorpayCheckout initWithKey:kRazorpayKeyID andDelegateWithData:self];

[2020-08-18 15:16] gourabghosh1 commented on #102
@cocoadogs can you share your Mobile device model name and manufacture date and the OS details ?

[2020-08-19 01:45] cocoadogs commented on #102
iPhone 6s - iOS 14.0

[2020-08-19 03:49] cocoadogs commented on #102
iPhone 6s - iOS 14.0  @gourabghosh1

[2020-08-19 05:39] gourabghosh1 commented on #102
@cocoadogs our tech team will be fixing this , this may take some time , we recommend you to use pre-fills the contact details for now.

--checkout code--
"prefill": [
                	"contact": "9797979797",
                	"email": "foo@bar.com"
                ],

[2020-08-22 04:02] MuthurajMuthulingam opened #103 "'Razorpay' is unavailable: cannot find Swift declaration for this class (Xcode 11.6)"
- [ ] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [ ] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [ ] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [ ] I am gone through the FAQ's (https://github.com/razorpay/razorpay-pod/wiki/FAQ's)
- [ ] I have cleaned my project , d

[2020-08-24 08:19] AYAN249 commented on #103
@MuthurajMuthulingam

It has been finally allowed in Swift 5.3. See Contextual Where Clauses in the official Language Guide.
Citing from there:
You can write a generic where clause as part of a declaration that doesn’t have its own generic type constraints when you’re already working in the context of generic types. For example, you can write a generic where clause on a subscript of a generic type

[2020-09-01 05:11] fend-dev opened #105 "I am not getting "razorpay_order_id" and "razorpay_signature" in the onPaymentSuccess method."
I am using Xcode 11.5 and using swift 5. I am using following code for the getting "razorpay_order_id" and "razorpay_signature".

`extension ViewController: RazorpayPaymentCompletionProtocolWithData  {

    func openRazorpayCheckout(){
        //Register RazorpayTestKey
        razorpay = RazorpayCheckout.initWithKey(kRazorpayLiveKey, andDelegateWithData: self)
        let options: [String:Any] =

[2020-09-01 10:59] Prajwal625 commented on #105
Hi Ankush, please provide the response for the requirement sent on the ticket "90956" so that we can have the use case checked.

[2020-09-02 04:37] fend-dev commented on #105
Yes @Prajwal625 , I have already sent. Please check.

[2020-09-03 06:12] Dev-iOS-Appbirds commented on #105
check  'order_id' or all parameter in option.

[2020-09-16 13:17] karthikxcel opened #106 "blank white page on razorpay.open"
## Description
On razorpay.open, only a blank white page appears.

## Razorpay pod Version :
pod 'razorpay-pod', '1.1.7'

## Xcode Version :
Version 11.6 (11E708)

### What you did:
I m calling  razorpay.open method to open the payment page

### What happened:
Instead of the razorpay payment UI, I m getting blank white screen

[2020-09-17 13:15] Sumit738 commented on #106
Please share the crash log for further investigation.

[2020-09-18 11:16] Sumit738 commented on #106
Please refer the below link for the sample app https://razorpay.com/docs/payment-gateway/ios-integration/standard/#razorpay-sample-app

[2020-09-20 16:03] karthikxcel commented on #106
I m getting Log like this when it fails to load. Sometimes if the UI loads successfully i don't get the below log

2020-09-20 21:31:19.132105+0530 CricDost[335:12225] WF: _userSettingsForUser mobile: {
    filterBlacklist =     (
    );
    filterWhitelist =     (
    );
    restrictWeb = 1;
    useContentFilter = 0;
    useContentFilterOverrides = 0;
    whitelistEnabled = 0;
}
2020-09-20 21:31:1

[2020-09-20 16:04] karthikxcel commented on #106
I m getting Log like this when it fails to load. Sometimes if the UI loads successfully i don't get the below log

2020-09-20 21:31:19.132105+0530 [335:12225] WF: _userSettingsForUser mobile: {
filterBlacklist = (
);
filterWhitelist = (
);
restrictWeb = 1;
useContentFilter = 0;
useContentFilterOverrides = 0;
whitelistEnabled = 0;
}
2020-09-20 21:31:19.132181+0530 [335:12225] WF: _WebFilterIsActive

[2020-09-23 02:02] cocoadogs opened #107 "I got crash report using razorpay-pod v1.1.7"
- [x] I have gone through the README.(https://github.com/razorpay/razorpay-pod)
- [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-pod/issues)
- [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-pod/releases)
- [x] I am gone through the FAQ's (https://github.com/razorpay/razorpay-pod/wiki/FAQ's)
- [x] I have cleaned my project , d

[2020-09-23 02:06] cocoadogs commented on #107
here is the firebase crash report image
[http://note.youdao.com/yws/public/resource/d105580302e05a6f002f9b9767d80589/xmlnote/WEBRESOURCE6283791b00169afcfcf390f99523c3f2/15653](razorpay-pod v1.1.7)

[2020-09-23 02:10] cocoadogs commented on #102
it seems like that the bug is reported only in ios14 beta version.now we don't have seen that again

[2020-10-06 12:31] SandipSerantec commented on #75
Fix issue
Thanks Team

[2020-10-06 12:36] SandipSerantec commented on #75
Thans you Nautiyalsachin

[2020-10-09 07:23] Nautiyalsachin commented on #75
Please always use our latest pod 'razorpay-pod' instead of any branch, this will help you to be updated with the latest releases and bug fixes.

[2020-10-09 15:38] akshaybhange opened #109 "Failed to build module 'Razorpay' from its module interface"
## Description
Build failed with the following errors:
`failed to build module 'Razorpay' from its module interface; the compiler that produced it, 'Apple Swift version 5.2.4 (swiftlang-1103.0.32.9 clang-1103.0.32.53)', may have used features that aren't supported by this compiler, 'Apple Swift version 5.3 (swiftlang-1200.0.29.2 clang-1200.0.30.1)'`
and
`<unknown>:0: error: unable to load standard

[2020-10-13 11:11] Karthikmoback opened #110 "RazorpayPaymentCompletionProtocolWithData Methods - onPaymentSuccess doesn't gets called"
I have integrated Razorpay SDK using cocoapod for IOS app -  pod 'razorpay-pod', '1.1.6' , also tried with 1.1.7 with swift 5.1+ and Xcode 11.6.

Using RazorpayPaymentCompletionProtocolWithData
I am able to make the payment and on click on success, the view gets dismissed, But below method doesn't gets called
func onPaymentSuccess(_ payment_id: String, andData response: [AnyHashable : Any]?)

wher

[2020-10-14 06:07] karthikxcel commented on #106
Any update on this issue

[2020-10-14 06:12] Sumit738 commented on #110
Please refer to the link- https://razorpay.com/docs/payment-gateway/ios-integration/standard/#step-5-handle-success-and-errors-events

[2020-10-14 06:39] Karthikmoback commented on #110
@Sumit738  I have referred the same link, as i mentioned, i was able to get the payment id when i use
RazorpayPaymentCompletionProtocol
public func onPaymentSuccess(_ payment_id: String)
But i need order id and signature. Which i can get by using (as per doc link)
RazorpayPaymentCompletionProtocolWithData
func onPaymentSuccess(_ payment_id: String, andData response: [AnyHashable : Any]?)  , But th

[2020-10-14 07:26] Nautiyalsachin commented on #106
@karthikxcel, This issue is fixed a long ago, we show a blue activity indicator whenever you call open().  You can try to see its working on this [example](https://github.com/razorpay/razorpay-pod/tree/master/Example). Let me know if you still face any issue.

[2020-10-14 08:08] karthikxcel commented on #106
Thank You @Nautiyalsachin. Issue didn't appear again

[2020-10-14 08:19] Nautiyalsachin commented on #106
Closing this issue now 😊.

[2020-10-14 08:19] #106 closed

[2020-10-14 09:03] Nautiyalsachin commented on #110
Hey @Karthikmoback, we have two initialising methods,

1. `RazorpayCheckout.initWithKey(razorpayKey, andDelegate: self)`

2. `RazorpayCheckout.initWithKey(razorpayKey, andDelegateWithData: self)`

If you use the second option then you will be able to invoke the data delegate functions.

[2020-10-14 09:10] Karthikmoback commented on #110
@Nautiyalsachin Thanks that worked.

[2020-10-14 09:10] #110 closed

[2020-10-21 08:27] Nautiyalsachin commented on #55
@VivekDosaya, you can try validating the order_id first and also update to the latest pod version.

 Please feel free to either re-open the issue or create a new issue if you have any additional queries, you can create a request here.

[2020-10-21 08:27] #55 closed

[2020-10-21 08:30] Nautiyalsachin commented on #66
@Faiyyaz please update to the latest pod version. Also feel free to either re-open the issue or create a new issue if you have any additional queries, you can create a request [here](https://razorpay.com/support/#request).

[2020-10-21 08:30] #66 closed

[2020-10-21 08:33] Nautiyalsachin commented on #67
@OmarIbbu, this is not giving us any information, which can help us on debugging this issue, Closing this issue for time being,   feel free to either re-open the issue or create a new issue if you have any additional queries, you can create a request [here](https://razorpay.com/support/#request).

[2020-10-21 08:33] #67 closed

[2020-10-21 08:34] Nautiyalsachin commented on #68
Hi @poojab, please update our plugin to the latest pod version and try again closing this issue for now.

 Feel free to either re-open the issue or create a new issue if you have any additional queries, you can create a request [here](https://razorpay.com/support/#request).

[2020-10-21 08:34] #68 closed

[2020-10-21 08:36] Nautiyalsachin commented on #69
Hi @mohsinalimat, closing this issue because of incomplete details, please reopen this issue or create a new issue.

Regards,
Sachin

[2020-10-21 08:36] #69 closed

[2020-10-21 08:36] #70 closed

[2020-10-21 08:38] Nautiyalsachin commented on #70
@pawanline, you can find the details on our [iOS plugin documentation](https://razorpay.com/docs/payment-gateway/ios-integration/standard/) and also refer the [changelogs](https://github.com/razorpay/razorpay-pod/blob/master/CHANGELOG.md) for more details.

[2020-10-21 08:41] Nautiyalsachin commented on #73
Hey @raghurammahathi, @manoj-bht : Please update the pod to latest version.

For now closing this issue, feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 08:41] #73 closed

[2020-10-21 08:43] Nautiyalsachin commented on #74
Hi @ashish-meesho, we have already addressed this in our earlier releases, still asking you to upgrade to the latest pod version,

For now closing this issue, feel free to either re-open or create a new issue if you have any additional queries.

[2020-10-21 08:43] #74 closed

[2020-10-21 08:45] Nautiyalsachin commented on #78
Looks like you guys have sorted this out, Thanks @mohsinalimat, for the help here.

closing this issue now, feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 08:45] #78 closed

[2020-10-21 08:47] Nautiyalsachin commented on #83
Hi @aksh1995, Try with a new Order id, please update the plugin to the latest version,

For now closing this issue, feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 08:47] #83 closed

[2020-10-21 09:05] Nautiyalsachin commented on #99
@Mahesh160393, try using RazorpayCheckout instead of Razorpay. Hope you've already have fixed this issue.

For now closing this issue, feel free to either re-open or create a new issue if you have any additional queries.

[2020-10-21 09:05] #99 closed

[2020-10-21 09:07] Nautiyalsachin commented on #102
@cocoadogs, well in that case closing this issue now, feel free to either re-open or create a new issue if you have any additional queries.

[2020-10-21 09:07] #102 closed

[2020-10-21 09:08] Nautiyalsachin commented on #103
Please change Razorpay to RazorpayCheckout, this will fix this issue,

Closing this issue now, feel free to either re-open or create a new issue if you have any additional queries.

[2020-10-21 09:08] #103 closed

[2020-10-21 09:16] Nautiyalsachin commented on #105
Hey @Prajwal625, can you share the options here, in the form of data, I would suggest you to send the hardcoded data first and try with that, if that works then you can switch to your view modal. Let me know if it works for you.

For now closing this issue, feel free to either re-open or create a new issue if you have any additional queries.

[2020-10-21 09:16] #105 closed

[2020-10-22 13:43] ankit0812 commented on #109
Did you manage to solve this?

[2020-10-23 12:47] SandyAra commented on #109
Same issue for me too. solved this ?

[2020-10-27 08:42] aboutlan opened #112 "CPU usage is rising rapidly"
## Xcode Version :
Xcode 12.0.1

## Steps To Reproduce
1. Download razorpay-pod
2. Running example project on real device(iOS 14.0)
3. Press Pay Now
4. When the payment page was displayed and **get very high CPU usage (99% +)**

What's the matter with it?

[2020-10-27 13:48] akshaybhange commented on #109
not yet. I opened a SO query and received an answer there. Hope that will help. I didn't tried yet.

[https://stackoverflow.com/questions/64373197/failed-to-build-module-razorpay-from-its-module-interface/64550071#64550071](https://stackoverflow.com/questions/64373197/failed-to-build-module-razorpay-from-its-module-interface/64550071#64550071)

[2020-10-27 14:26] Nautiyalsachin commented on #109
Hey @akshaybhange, i am working on this release as you can see on GitHub releases. This release will be available soon.

[2020-10-30 14:30] Swapna67m commented on #90
check your razorpay key. it may be expired.

[2020-11-03 07:29] akshaybhange commented on #109
@Nautiyalsachin, Sorry to disturb you. any estimated release date for pod v1.1.9?

[2020-11-09 09:10] ambujap94 commented on #112
@aboutlan We checked and do not find any issue at our end, COuld you please execute it on the main thread and try.

[2020-11-12 12:20] Nautiyalsachin commented on #109
Hi everyone, we have released a new pod version.

Please update it to the latest version -  `pod 'razorpay-pod', '1.1.10'`.

Let me know if this works for you.

[2020-11-19 05:47] Nautiyalsachin commented on #112
Closing this issue due to no activity, please feel free to add more comments or re-opening the issue.

[2020-11-19 05:47] #112 closed

[2020-11-19 05:48] #109 closed

[2020-11-19 05:50] Nautiyalsachin commented on #107
Hey @cocoadogs, we have released a new Razorpay Pod version `razorpay-pod  v1.1.10`, please try it and let me know if the crash is still happening for you. Closing the issue now.

[2020-11-19 05:50] #107 closed

[2020-12-27 00:08] manojpocket52 commented on #109
failed to build module 'Razorpay' from its module interface; the compiler that produced it, 'Apple Swift version 5.3 (swiftlang-1200.0.29.2 clang-1200.0.30.1)', may have used features that aren't supported by this compiler, 'Apple Swift version 5.3.2 (swiftlang-1200.0.45 clang-1200.0.32.28)'

[2020-12-28 05:28] naveenYellamraju opened #116 "Razorpay pod installed It is working in viewdidload while ham going to calling button action it is not calling"
## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay pod release to make sure your issue has not already been fixed.

## Razorpay pod Version :

Open `podfile` for checking the razorpay-pod version if it's not mentioned their then open `podfile.lock` and copy the pod version here.

## Xcode Version :

[2020-12-28 05:32] naveenYellamraju commented on #116
pod version is :

pod 'razorpay-pod', '~> 1.1.1'
 

Xcode : Version 11.5 (11E608c)

What I did:

import UIKit
import Razorpay

class RazorPaymentViewController: UIViewController,RazorpayPaymentCompletionProtocol {

    var razorpay: RazorpayCheckout!

    override func viewDidLoad() {
        super.viewDidLoad()

        razorpay = RazorpayCheckout.initWithKey("rzp_live_f4hQQYwcs1kUTJ", andDelegat

[2020-12-29 12:23] Nautiyalsachin commented on #109
Hey @manojpocket52, Xcode is having some issues with module stability, we have to release a new build for this, and this can take a little more time. For now, I would suggest you to downgrade your Xcode and use it so that this issue won't effect you.

[2021-01-08 15:29] Nautiyalsachin commented on #116
Hey @naveenYellamraju, this is not an error, please try with our sample app and let us know if it works for you.

You can also use your Razorpay key there and see the result with these options.

[2021-01-21 05:32] karthikxcel opened #118 "White Blank Page"
## Description

When i open the razorpay ui using razorpay.open(options, displayController: self), only a blank white page appears.

## Razorpay pod Version :

pod 'razorpay-pod' , '1.1.11'

## Xcode Version :
Version 12.2

### What you did:

opening razorpay UI for making payment using razorpay.open(options, displayController: self)

### What happened:

Only a white blank page appeared & nothing

[2021-02-08 08:06] rmamtaventures commented on #43
i'm also facing same issue in xcode 12.

[2021-02-10 08:03] Nautiyalsachin commented on #116
Closing this issue due to inactivity, feel free to reopen or add comments here. Thanks.

[2021-02-10 08:03] #116 closed

[2021-02-10 08:12] Nautiyalsachin commented on #118
@karthikxcel, I would suggest you to check the implementation by referring our sample app. Let me know if you are still facing any issues.

[2021-02-18 11:17] Albinzr opened #120 "UI constraint breaking causing performance issues"
## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay pod release to make sure your issue has not already been fixed.

## Razorpay pod Version : 1.1.12
manually added the xcframework pods are not used

## Xcode Version : Version 12.3 (12C33)

### What you did:
When moving to fill the card information,

[2021-02-19 05:58] Nautiyalsachin commented on #120
Hey @Albinzr, Thanks for the steps and detailed crash log, we are looking into this. We will update you soon on the same.

[2021-02-19 05:59] Nautiyalsachin commented on #118
Closing this issue for now, because of no response. Feel free to add more comments or re-opening the issue.

[2021-02-19 05:59] #118 closed

[2021-02-25 17:45] navya15-ios commented on #109
Any solution for this?

[2021-02-25 17:49] navya15-ios commented on #109
@manojpocket52 @Nautiyalsachin  Any solution for this issue?

[2021-03-01 05:17] Nautiyalsachin commented on #109
Hey @navya15-ios: Please update Razorpay-Pod to the latest version 1.1.12. Let me know if that didn't solved the issue for you.

[2021-03-01 09:07] navya15-ios commented on #109
Actually problem is with Mac pods were not installing
do you know how install pods in MacBook Air M1 chip? any other steps need to follow?
I used below command for installing cocoa pods :
sudo gem install cocoapods

then I got below error:

ERROR:  Loading command: install (LoadError)
	dlopen(/Library/Ruby/Gems/2.6.0/gems/date-3.1.1/lib/date_core.bundle, 0x0009): missing compatible arch in /Librar

[2021-03-02 05:27] Nautiyalsachin commented on #109
@navya15-ios, This [link](https://stackoverflow.com/questions/23350388/cant-install-gems-because-undefined-method-invoke-with-build-args-for-nilni) will help you to resolve the above issue.

[2021-03-18 14:06] tejaskdubal opened #121 "Module 'Razorpay' was created for incompatible target arm64-apple-ios10.0: /Users/tejasdubal/Documents/Paradise/paradise-latest/Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/arm64.swiftmodule"
Getting this error when I import Razorpay
Module 'Razorpay' was created for incompatible target arm64-apple-ios10.0: /Users/tejasdubal/Documents/Paradise/paradise-latest/Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/arm64.swiftmodule
## IDE Specs

Xcode - 12.4
Swift - 5
Razorpay Vrersion - 1.1.12

## Retro Steps

1. Import framework in swift file
2. Compile code

## Screens

[2021-03-18 14:52] tejaskdubal commented on #121
Sorry. but I don't have an issue with installation.
I gone through that link already

[2021-03-20 12:21] SeniorTechLead opened #122 "Webkit Errors in Standard SDK"
Hi,

 I'm using your latest SDK (Razorpay Standard SDK 1.2.10). I read another bug report here the resolution to which mentioned that ViewDidLoad should be replaced with ViewDidAppear in the View Controller. I'm not sure if the following two types of errors will be resolved by doing so, but even if I wanted to, it doesn't let me.

1) When the form is opened, these are the errors that show up:

 20

[2021-03-30 07:23] mukeshydv commented on #121
Getting same issue when trying to run on simulator on Apple M1 mac.

[2021-03-31 03:33] tejaskdubal commented on #121
Got a solution
Go to Build Setting -> Architectures -> Excluded Architectures -> Debug -> Add Any iOS Simulator -> Set value arm64
Do this for both Project Setting and Pod Setting

Hope this will help!

[2021-03-31 05:14] Nautiyalsachin commented on #121
Hey @mukeshydv, I would also suggest you the same solution which is mentioned above by @tejaskdubal, as XCode 12 has released some extra settings. Let me know if the above solution works for you.

[2021-03-31 05:29] Nautiyalsachin commented on #122
Hi @SeniorTechLead, Right now we don't have our SDK in SwiftUI.

We are planning to take it up in future as there are still some issues coming up in SwiftUI. We will keep you posted here as soon as we release anything.

For error 1, you can see our [Intent on iOS](https://razorpay.com/docs/payment-gateway/ios-integration/standard/#enable-upi-intent-on-ios) implementation, where we are showing the

[2021-03-31 07:57] Nautiyalsachin commented on #122
Regarding these warnings, we are querying apps URIs with iOS. We don't have much of a control here on this. As per the implementation as soon as we are hitting `canOpenURL`, it gives the above warnings in the console.

[2021-04-04 07:57] SeniorTechLead commented on #122
Hi Sachin,

   Thanks for the clarifications!

   What we are surmising is that there isn't a way to trap (in the view controller) errors in opening apps. That said, is there a way to avoid calling these three external wallets. What we have observed is that even if we don't list them in the "wallets" key or even if we drop the "external" key altogether in the "options" dictionary, they don't show

[2021-04-05 04:52] Nautiyalsachin commented on #122
@SeniorTechLead  These are not for wallet and these are for UPI Intent flow, where users don't have to type their UPI Id manually rather they will be redirected to the selected UPI App.

 Before showing the UPI app on our page, we are querying it from iOS for the app's availability, that's why those errors are coming.  [Click here ](https://razorpay.com/docs/payment-gateway/ios-integration/standar

[2021-05-08 12:14] indupandey15 commented on #121
Error:- The linked and embedded framework 'Razorpay.framework' is missing one or more architectures required by this target: arm64.
using custom Razorpay SDK, Xcode 12.4, Apple M1 mac.
no luck
any solution?

[2021-05-10 05:12] Nautiyalsachin commented on #121
@indupandey15 You may need to add Rosetta 2 in your mac as there are some additional steps required. Are you trying to integrate  razorpay react native customui SDK?

[2021-05-10 05:17] Nautiyalsachin commented on #121
@indupandey15 You can also refer [this thread](https://developer.apple.com/forums/thread/660782) for more details.

[2021-05-10 11:50] indupandey15 commented on #121
@Nautiyalsachin we are using swift 5, Xcode 12.4 and razor pay runs on native iOS -> using  Razorpay Custom UI 1.3.0.

[2021-05-10 12:49] indupandey15 commented on #121
@Nautiyalsachin tried
1. /usr/sbin/softwareupdate --install-rosetta
2. https://developer.apple.com/forums/thread/666949

wasn't able to run, new error says "Building for iOS Simulator, but the linked and embedded framework 'Razorpay.framework' was built for iOS + iOS Simulator."

[2021-05-10 12:58] Nautiyalsachin commented on #121
@indupandey15 Can you try now with [this thread](https://stackoverflow.com/questions/63267897/building-for-ios-simulator-but-the-linked-framework-framework-was-built). Let me know if you still face issues.

[2021-05-10 13:47] indupandey15 commented on #121
@Nautiyalsachin above link did not work
1. so now I tried shutting down my laptop -> opened my project again -> razor pay in embedded and libraries at position embed and signin
2. Clean , removed derived data , run again
3. Error "Module compiled with Swift 5.0.1 version cannot be imported in Swift 5.3.2 version."
4. downloaded 5.1+ razor pay (upgraded my razorpay again after downgrading) Razorpay

[2021-05-20 13:57] raja-dukaan opened #124 "Back button not appearing on netbanking page"
## Description

When i am trying to pay via netbanking and then selected one of the HDFC option then it is not showing back button in navigation bar.
can you please help, how to enable this back button.

## Razorpay pod Version : 1.1.12

## Xcode Version : 12.5

I have opened the check out page and netbanking scree navigation bar back button not appearing.

[2021-06-14 07:17] varaprasadrao919 opened #126 "Xcode 11.7 ios11 build success but archive fail while integrating Razor pay version 2.2.4.Please help us to rectify the issue as soon as possible"
-->

## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay pod release to make sure your issue has not already been fixed.

## Razorpay pod Version :razorpay-pod (1.1.5)

## Xcode Version :
Open Xcode > Go to `About Xcode` > 11.7

### What you did:

we are generating archive in Destination  Generic IO

[2021-07-28 18:11] nimishaJoshy commented on #90
worked for me on Jul 28 th 2021.

[2021-08-19 17:35] uchiha-itachi95 opened #128 "The following binaries use incompatible versions of Swift"
I am trying to integrate razorpay SDK into our ios but not able to build it for debug. Project target is using Swift 4.0 (as this is huge project we can not switch to different version of swift as of now).

Getting following error:

[code]

I looked into the `Razorpay-Swift.h` file and it seems like version 1.0.8 was compiled with `Swift 4.0.2`.
[code]

## IDE Specs

Xcode Version : Version 12.3 (

[2021-08-19 18:02] #128 closed

[2021-08-23 06:04] uchiha-itachi95 opened #129 "Failing to push to app store while archiving worked"
## Description

I have integrated razorpay-pod with our ios app. Everything is working fine. Built the archive also. But failed to push it to app store.

## Razorpay pod Version :

1.1.6

## Xcode Version :
Version 12.3 (12C33)

### What you did:

Built the archive. Was trying to push it to app store for TestFlight for internal testing. Got error in between. Screenshot below.

### What happened:

[2021-08-23 07:39] uchiha-itachi95 commented on #129
So the problem is it contains both the architecture for simulator and real device which of course is not allowed for play store release. So you have to strip out the simulator architecture before submitting to app store.

Just add the below run script in your build phase and you will be good to go.

[code]

[2021-09-13 07:08] sajanyamaha commented on #121
This is happening again with latest pods and versions ,
`module 'Razorpay' was created for incompatible target arm64-apple-ios10.0
`
check this https://github.com/razorpay/razorpay-flutter/issues/197

[2021-09-25 11:21] Nijinsha commented on #121
Issue for me on m1 Mac. No idea why this is happening

[2021-09-25 11:56] Pgmr-sagar commented on #55
still the same issue

[2021-09-25 11:58] Pgmr-sagar commented on #55
still getting same issue

[2021-09-25 11:58] Pgmr-sagar commented on #55
still getting same issue

[2021-09-25 12:00] Pgmr-sagar commented on #55
still getting same issue @Nautiyalsachin

Cosnole showing this
2021-09-25 17:30:07.799908+0530 Happiroo[24429:646025] WF: === Starting WebFilter logging for process Happiroo
2021-09-25 17:30:07.800086+0530 Happiroo[24429:646025] WF: _userSettingsForUser : (null)
2021-09-25 17:30:07.800301+0530 Happiroo[24429:646025] WF: _WebFilterIsActive returning: NO
2021-09-25 17:30:10.626721+0530 Happiroo[2442

[2021-10-15 05:45] nagarajuios opened #132 "Razorpay not supporting for Swift Packge manager"
## Description

I tried to integrate on my swiftui project with swift package manager this SDK not supporting

## Xcode Version :
12.5

### What you did:

https://github.com/razorpay/razorpay-pod.git and added as 1.1.16 as my package version

### What happened:

there is no Package in manifest

### Suggested solution:

Please do add package support for this SDK

[2021-10-27 10:18] avinashamanjha251 opened #133 "Getting Compiler warning for leaks"
Hi Dev Team,

After installing using Pod file below warning is coming

Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/Project/arm64-apple-ios.swiftsourceinfo' is either malformed or generated by a different Swift version. Note that it uses an unstable format and may leak internal project details, it should not be distributed alongside modules

IDE - Xcode 13
Swift Complier -

[2021-10-30 06:46] Jaydip2711 opened #134 "1 Payment Failed - Unexpected Error"
Pod version- 'razorpay-pod', '~> 1.1.1'
Swift Version - 5.0

## Description
When try to proceed my payment payment faild error return, I mention error here also., in fact your GitHub project return same error.

## Razorpay pod Version :
Pod version- 'razorpay-pod', '~> 1.1.1'

## Xcode Version :
Xcode 12.4
Swift 5.0

### What you did:
I Create request using below parameter.
let options: [String:An

[2021-10-30 07:11] Jaydip2711 commented on #42
@iThink32  I am getting this error

/Users/ramprasad.a/Documents/RamprasadA/project/razorpay-ios/RazorpayIOS/CheckoutOtpelf/Classes/RazorpayCheckout+JSBridge.swift:["Error : ", [:]]
/Users/ramprasad.a/Documents/RamprasadA/project/razorpay-ios/RazorpayIOS/CheckoutOtpelf/Classes/InternalRazorpay.swift:["payment failed"]
error:  1 Payment Failed - Unexpected Error
/Users/ramprasad.a/Documents/Rampras

[2021-11-10 13:39] #129 closed

[2021-11-17 13:59] iamazhar opened #135 "SPM support"
### Describe the feature you'd like:

Would like to see SPM support for the SDK so that the team can avoid adding the SDK manually. We don't want to integrate Cocoapods in our project and alter its structure. Our CI/CD pipeline requires us to push the SDK `xcframework` to our repo, which we can avoid if we get SPM support.

### Suggested implementation:

### Describe alternatives you've considered

[2021-11-21 16:50] sudhakar-varma commented on #133
same here

[2022-01-03 09:06] somesh-basicx opened #138 "Can't add Razorpay pod to M1 chip Macbook"
## Description

Getting error on MacBook M1 chip that says  `module compiled with Swift 5.5.1 cannot be imported by the Swift 5.5.2 compiler: /Users/someshk/Documents/iOSProjects/BASICX SPORT/Pods/razorpay-pod/Pod/Razorpay.framework/Modules/Razorpay.swiftmodule/arm64.swiftmodule `  and `unable to load standard library for target 'arm64-apple-ios10.0'` after adding razorpay-pod to new iOS project

[2022-01-03 11:22] ramprasadAnand commented on #138
Hi @somesh-basicx, Created a sample iOS project on M1 chip machine, and followed the same steps as mentioned. We are able to build and run the app on iOS Simulator.

Xcode Version - 13.2.1
pod 'razorpay-pod', '1.1.17'

[2022-01-03 11:43] somesh-basicx commented on #138
@architect  Did you exclude any architectures in build settings? or was it a completely fresh project with default settings?

[2022-01-03 13:19] ramprasadAnand commented on #138
@somesh-basicx  No, I haven't done any changes to architecture build settings, it is a new project with default settings.

[2022-01-04 06:15] somesh-basicx commented on #138
@ramprasadAnand  When I created a sample app it also worked but when I added other common libraries like Kingfisher & Lottie it started giving me the same error as above to overcome that issue I had to add
[code]
and it started working. Just putting it out here in case someone else stumbles upon this in the future.

[2022-01-04 06:15] #138 closed

[2022-01-28 07:23] virendrapatil0 opened #143 "not getting razorpay_signature this protocol not working RazorpayPaymentCompletionProtocolWithData"
## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay pod release to make sure your issue has not already been fixed.

## Razorpay pod Version :

Open `podfile` for checking the razorpay-pod version if it's not mentioned their then open `podfile.lock` and copy the pod version here.

## Xcode Version :

[2022-01-28 07:45] virendrapatil0 commented on #143
I am using  pod 'razorpay-pod', '~> 1.1.12'
Xcode 13.1, iOS deployment target - 12.0

1. add the Protocol RazorpayPaymentCompletionProtocolWithData

extension PaymentDepositVC: RazorpayPaymentCompletionProtocolWithData {

    func onPaymentError(_ code: Int32, description str: String, andData response: [AnyHashable : Any]?) {
        print("error: ", code)
        self.presentAlert(withTitle: "Ale

[2022-01-31 04:15] virendrapatil0 commented on #143
Hello Please let me know any changes

[2022-01-31 07:37] ramprasadAnand commented on #143
Hi @virendrapatil0 can you please share the code to know how you are initialising the razorpay instance ?

[2022-01-31 08:04] virendrapatil0 commented on #143
import Razorpay

 var razorpay: RazorpayCheckout!

    override func viewDidLoad() {
        super.viewDidLoad()

        razorpay = RazorpayCheckout.initWithKey("rzp_test_pNufDOOeGRM3hI", andDelegate: self)

        //this method getting response order_id and pass payment form .
        generateOrderIdRazorpay()

    }

internal func showPaymentForm(order_id :String){

        let options: [Strin

[2022-01-31 09:10] ramprasadAnand commented on #143
@virendrapatil0 if you want to get the callback to **RazorpayPaymentCompletionProtocolWithData** protocol methods you have to initialise our razorpay instance as given below.

`razorpay = RazorpayCheckout.initWithKey("rzp_test_pNufDOOeGRM3hI", andDelegateWithData: self)`

in your case you are delegating to **RazorpayPaymentCompletionProtocol** protocol, this is the reason you are not getting callb

[2022-01-31 13:06] virendrapatil0 commented on #143
Issue Solve Thanks

[2022-02-01 05:40] ramprasadAnand commented on #143
Closing the issue as it got resolved.

[2022-02-01 05:40] #143 closed

[2022-02-10 10:51] vamsi-go opened #144 "module 'Razorpay' was created for incompatible target arm64-apple-ios10.0"
## Description

I am using razorpay-pod with in another pod I have created.
It runs properly when I run in a device or simulator.
Now when I want to update my pod version by **pod repo push** from terminal.
It fails and the reason is as below

- ERROR | [iOS] xcodebuild:  .../.../..MyViewController.swift:10:8: error: module 'Razorpay' was created for incompatible target arm64-apple-ios10.0: razorp

[2022-03-22 07:20] DLP-ios commented on #122
Hi guys, can anyone help me how to open only phone pe wallet without default checkout in ios swift

[2022-03-22 07:22] DLP-ios commented on #122
I am unable to open without middle checkout .
I am using below parameters a below mentioned,
 let options: [String:Any] = ["currency": "INR", "amount": a, "contact": "8500116090", "email": "dubaprasad@gmail.com", "method": "wallet", "wallet": "phonepe", "order_id": info.id]
 self.razorpay?.open(options)

[2022-03-28 12:40] chinthu commented on #43
DId you resolved this issue ?

[2022-05-06 00:38] raazii commented on #109
Swift Compiler Error (Xcode): Failed to build module 'Razorpay' from its module interface; the compiler that produced it, 'Apple Swift version 5.6
(swiftlang-5.6.0.323.62 clang-1316.0.20.8)', may have used features that aren't supported by this compiler, 'Apple Swift version 5.3.2
(swiftlang-1200.0.45 clang-1200.0.32.28)'

How to fix this?

[2022-05-06 00:38] raazii commented on #109
@Nautiyalsachin

[2022-05-13 08:38] vivekjains commented on #132
Any update on this issue

[2022-05-13 08:39] vivekjains commented on #135
Any update on this pls?

[2022-06-27 07:17] PradeepMithna commented on #134
Facing same issue, when i click on the failure button printing this kind of errors.....is it solved ??

[2022-07-06 07:14] PrathapiOS commented on #122
@Nautiyalsachin We have implemented Razorpay in our app. We have our custom UI to enter UPI id. And, when we click on UPI id - we are end up with this error. "Attempt to add script message handler with name 'CheckoutBridge when one already exist"

Can you please help me with this?

[2022-07-17 09:24] itsdeepak404 commented on #42
getting this error:

[ViewportSizing] maximumViewportInset cannot be larger than frame
2022-07-17 14:45:04.000351+0530 HCH[32592:2328857] [ViewportSizing] minimumViewportInset cannot be larger than frame

--- I tried both in my viewwillAppear

razorpay?.open(options)
razorpay.open(options, displayController: self)

but payment page, opens for a sec and going back

[2022-08-03 09:16] msatao commented on #132
+1

[2022-10-06 04:57] ramprasadAnand commented on #133
Please upgrade to latest version of razorpay-pod to resolve this issue.

[2022-10-06 04:59] ramprasadAnand commented on #144
Closing this issue due to inactivity, feel free to reopen or add comments here.

[2022-10-10 02:46] iowais-dev opened #178 "SPM Support"
We need swift package manager support so we can avoid integration errors and save our precious time.

[2022-10-10 02:48] iowais-dev opened #179 "SwiftUI support"
We need complete swiftUI support so we can easily use the components directly into the swiftUI project and we don't have to rely on Representables or Protocol Delegate etc.

[2022-10-10 02:48] iowais-dev commented on #132
+1